[2016-03-03 04:15] govpack commented on #117
| BrisJS User        | Mentions           |  Leaderboard  |
| ------------- |:-------------:| -----|
|@kevdesign|    18      | :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus:  :trolleybus: |
|@AshKyd|    16

[2016-03-04 09:46] iamkevinv commented on #117
Hahah! I love it! Nice work @govpack :-)

[2016-03-04 13:00] shotlom commented on #117
Hmmm, about that metric ...

@MauriceButler	x12	:trolleybus:
v
@shotlom	x11	:trolleybus:

Maybe that should be

@MauriceButler	x12	:ok_hand:
v
@shotlom	x11	:grey_question:

[2016-03-06 12:00] iamkevinv commented on #117
Having the heuristics to determine that you're asking questions, would be quite a feat @shotlom :)

[2016-03-06 21:53] xwipeoutx commented on #117
Not really... Just look for a question mark.
On 6 Mar 2016 22:00, "Kevin Vanderbeken" <notifications@github.com> wrote:

[2016-03-06 22:03] #107 closed

[2016-03-07 01:24] govpack commented on #117
@shotlom on second thoughts it ought to have been a case insensitive tally. I mean Maurice especially, is suffering from a bad case of "Multi Camel Case Capitalization Disorder" or MCCCD (or 1600 in Arabic numerals) and he'd be much higher and happier if we corrected for that, maybe.

@iamkevinv, funnily enough looking for @xyz was actually derived from a similar thing that listed out all question

[2016-03-07 01:37] govpack commented on #117
or similar
[code]

[2016-03-07 23:08] fud commented on #102
@kzima Hey were you going to put the slides up. I just wanted to look at the further reading list.

[2016-03-07 23:34] kzima commented on #102
@fud Slides attached :)
[Vue.js (1).pdf](https://github.com/BrisJS/meetups/files/162304/Vue.js.1.pdf)

[2016-03-07 23:36] fud commented on #102
Cheers. :+1:

[2016-03-08 02:07] kzima commented on #110
@dwightgunning Nice presentation. +1 for static websites!

[2016-03-08 05:05] dwightgunning commented on #110
Thanks @kzima - it was a great crowd. Based on the conversations I had and the questions that were asked you've got some really smart folks and great developers in the community.

Keep up the good work and if I can ever support / help out - just let me know.

Dwight

[2016-03-08 05:29] dwightgunning commented on #110
PS: my slides are here: http://www.slideshare.net/dwightgunning/static-website-still-got-it-brisbane-js-meetup

[2016-03-08 09:40] xwipeoutx commented on #117
@govpack I'm sure they appear in all these places, but one thing I've
learned about data analytics; near enough is good enough

God Bless
- Steve

On Mon, Mar 7, 2016 at 11:37 AM, govpack <notifications@github.com> wrote:

[2016-03-08 18:14] AshKyd commented on #110
Awesome, thanks. :)

[2016-03-08 18:18] AshKyd commented on #112
Thanks @jwulf, very amusing and informative. Loved it!

Links from your tweeter:

* Async/await code samples: https://thomashunter.name/blog/the-long-road-to-asyncawait-in-javascript/
* Twitter convo with Brendan Eich: https://twitter.com/sitapati/status/705971610423918593

Do you have any other resources to share or shall we close this one?

[2016-03-08 18:22] AshKyd commented on #98
@shikhirsingh Thanks a bunch for coming, really enjoyed your talk. Have to say, the adaptive approach is definitely the way to go for mobile apps.

Do you have any slides resources you would like to share for this one?

[2016-03-08 18:26] AshKyd commented on #102
Thanks for the talk, really enjoyed it. Thinking I'll have to give Vue a try for my next project!

[2016-03-08 18:26] #102 closed

[2016-03-08 18:27] #110 closed

[2016-03-08 18:31] AshKyd opened #118 "Cross-thread data-replication with function-invoking (tbd)"
@korynunn has requested a slot at the next meetup to talk about his next project, tentatively titled “cross-thread data-replication with function-invoking”.

[2016-03-08 21:56] KoryNunn commented on #118
Or maybe something completely different if it doesn't work out..

[2016-03-13 08:29] AshKyd opened #119 "ES6 modules - Babel, Rollup, JSPM, what is the future?"
So there's a lot of work being done on ES6 modules. What tools are people using? How does NPM support ES6 modules? What is Node going to do? OMG what's happening!

I'd like to propose a talk on ES6 modules. It's something I'm really interested in coming from the Node camp, since CommonJS has become the de facto ES5 module format and it's going to require a pretty large shift.

I'd like to discuss:

[2016-03-14 00:42] garrows commented on #119
Cool. Looking forward to it.

Not sure if your questions were retohrical or not but I started a es6 game
recently and used webpack with babel
https://www.npmjs.com/package/babel-loader which worked quite well.

[2016-03-14 11:11] iamkevinv commented on #24
Hey @colingourlay - I think there's room for awesome JS powered chiptunez

[2016-03-14 11:12] colingourlay commented on #24
I never did get around to buying those piezos!

[2016-03-14 11:13] iamkevinv commented on #24
How many did your board have?... i probably have some.

[2016-03-15 07:17] #117 closed

[2016-03-15 07:41] govpack commented on #119
@AshKyd @garrows

cool, it's a fair enough topic, i'd be interested in hearing a summary of that lot.

....it gets some coverage in the following talk: http://nodeup.com/ninetynine
"Rod Vagg is joined by Bradley Meck, Caridy Patiño and Forrest Norvell to talk about Node and ES Modules!"

...along the lines of "too long didn't listen" closely enough... they're all going to get along!!! and the futu

[2016-03-17 03:53] desiguel opened #120 "Machine Learning with JavaScript"
Would anyone like a talk on this topic? I can do one in May if there is interest.

Andre

[2016-03-17 03:56] demsey2 commented on #120
+1

[2016-03-17 04:07] tomtomau opened #121 "Aurelia"
Hey there!

I've been doing a work project in Aurelia now for about a month and a half and the poll at the last meetup on JS Frameworks suggested there wasn't many (or any?) other people who'd tried out Aurelia yet.

I'd be more than happy to do an intro + getting started + experiences thus far sort of talk sometime if people were interested.

[2016-03-17 04:58] KoryNunn opened #122 "Help guide how the government does software!"
Looks like it'd be a pretty interesting role:

http://www.codeforaustralia.org/apply-for-the-fellowship

[2016-03-17 09:33] garrows commented on #120
I would very much like this too!

[2016-03-17 14:00] govpack commented on #122
Since they didn't have a Code of Conduct, i rage posted an expression of interest.
I told them to hire a woman for diversity, I am already a fellow, and if it was the Code Olympics codeforaustralia would be a bit of dead meat on the starting block. I'm offended that they invoke the name Australia and then come up with so little.

[2016-03-17 22:31] govpack opened #123 "Making something with Electron: GROUP TALK"
Greetings BrisJS,
fellow attention whores, sick & twisted f'ckers, readers of things online, the broader github community

@MauriceButler @Vheissu @eddieajau @marklawlor @iamkevinv @rknell @ridget @AshKyd @colingourlay @xwipeoutx @garrows @korynunn @tatey @louisstow  @PandaWhisperer @spidie @shotlom

I hope and trust you are all well.

I'm making this thread for those interested in sharing some of

[2016-03-17 22:39] govpack commented on #123
Like nw.exe but not as flakey, Electron is a great way to make full trust hybrid Desktop Apps. It has facilities for Taskbar integration, Notifications, App updates, packaging & distribution, as well as interprocess communication (ipc) between the node process controlling the App (aka: package.json.main or index.js) and the web page (aka: render thread) with protocol handlers and lots of events an

[2016-03-18 01:45] shotlom commented on #123
I had a simple [fastn.js](http://korynunn.github.io/fastn/) app going in electron some time back which I could demo.

[2016-03-18 23:01] govpack commented on #123
Unfortunately, we don’t support that file type.  Choose Files Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.

[2016-03-18 23:02] govpack commented on #123
Unfortunately, we don’t support that file type.  Choose Files Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.

[2016-03-18 23:04] govpack commented on #123
![ezgif-2522966906](https://cloud.githubusercontent.com/assets/8147200/13894249/94a19878-edb1-11e5-9e56-1aecb2edc940.gif)

[2016-03-20 23:45] rknell commented on #123
Hi Yall,

I've made a popcorn time / netflix style torrent streaming app that runs in electron, finds torrents automatically and saves it to a JSON database (the db needs improvement). Its pretty cool but doesn't leverage a lot of electron features as I just needed a way to run nodejs on someone's machine without me needing to walk them through setting it up. I use this as almost my entire source

[2016-03-21 05:42] govpack commented on #123
@rknell

That sounds fantastic. I'd love to know the essence of how you made that work.
I was really impressed by popcorn time, how it made browsing+consuming torrents
a much more pleasant arrangement -- to be able to do that one's self is amazing.
Thanks for sharing project info & links. I'd be keen to hear your explanation of what
was involved.

[2016-03-22 07:34] AshKyd commented on #120
Definitely, sounds good. Couldn't tempt you for April 4th @desiguel?

[2016-03-22 07:35] AshKyd commented on #121
Sounds cool, Can I schedule you for a 20 min slot on April 4?

[2016-03-22 07:40] AshKyd commented on #123
@govpack @shotlom @rknell This one's interesting. How would you folks like to do a 7 minute lightning talk each on your apps, and share your findings at the _April 4_ meetup?

Kind of a show-and tell format with some Q&A at the end could be interesting.

[2016-03-23 01:46] desiguel commented on #120
No can do unfortunately... I won't be around in early April.

[2016-03-23 02:14] AshKyd commented on #120
No probs. Let's put you on for May then. :)

[2016-03-23 10:35] tomtomau commented on #121
I'm overseas without internet (gasp) for the next week, so I'm willing to bet I won't have time to prep for the April meetup :(

[2016-03-24 00:56] AshKyd commented on #123
@govpack @shotlom @rknell We have a shortage of speakers for the next meetup, can you step up to the challenge? Doesn't have to be anything too fancy. :D

[2016-03-24 03:53] shotlom commented on #123
I'll try - is anyone interested in maybe in doing a collaboration at the
Edge on the Sunday? More hands make better exmples

On Thu, Mar 24, 2016 at 10:56 AM, Ash Kyd <notifications@github.com> wrote:

--
Mr Sholto Maud

mobile: +61 (0) 424 094 227
email: sholto.maud@gmail.com
skype: sholtomaud

[2016-03-25 13:42] govpack commented on #123
@AshKyd yes, let's do some combined Electron talks April 4th

@rknell  @shotlom Yeah, I'd be interested in going to the library on Sunday the 3rd, the Edge opens at midday so maybe at like 2pm. I don't want to over do it, but I do want to try out more of the API.

Here's another way to have a look at what's inside the Electron API /// type defs: https://github.com/DefinitelyTyped/DefinitelyTyped/b

[2016-03-25 14:00] govpack commented on #123
![](http://myfunnymemes.com/wp-content/uploads/2015/05/Awkward-People-Doing-Awkward-Things-In-Train-Etiquette-Super-Simple-Stuff-Meme.jpg)

[2016-03-25 14:03] govpack commented on #123
![](http://i.imgur.com/bezjNIe.jpg)

[2016-03-25 14:06] govpack commented on #123
![qr-mrec-easter2](https://cloud.githubusercontent.com/assets/8147200/14045456/2cf275b4-f2e6-11e5-9dec-c16f032817fa.jpg)

they almost make fun of themselves,
on second thoughts who isn't? the
whole world is like that these days
onya, funny little bunnies

[2016-03-27 02:57] AshKyd commented on #121
No probs. Let us know and we can make it the month after, maybe. :)

[2016-03-27 03:05] AshKyd commented on #123
Thanks folks, how'd your Saturday go?

I've scheduled this one in. Just to confirm @govpack and @shotlom are both gonna say some words? :)

[2016-03-27 03:08] AshKyd opened #124 "What we learned building x-plat React Native app in 3 months"
@girvo has offered to share what his team learned building x-plat React Native app in 3 months.

[2016-03-29 00:37] #103 closed

[2016-03-29 00:38] MauriceButler commented on #7
I think I did this already can be closed?

[2016-03-29 00:59] #7 closed

[2016-03-30 05:52] shotlom commented on #123
I'm 50-50 just in London so might not be over the jetlag enough for an
effective demo, nor the session at the Edge on Sunday - will keep you posted

On Sun, Mar 27, 2016 at 4:05 AM, Ash Kyd <notifications@github.com> wrote:

--
Mr Sholto Maud

mobile: +61 (0) 424 094 227
email: sholto.maud@gmail.com
skype: sholtomaud

[2016-03-30 06:20] MauriceButler commented on #123
I am sure a jet lagged @shotlom is a funny @shotlom

[2016-04-02 12:02] govpack commented on #123
@shotlom -- just to say that i've read that, and that's fine by me, i started having a closer look at electron today, i wouldn't think it would mix well with jet lag, i will stay in the office, where i can get a bit more done.

[code]

https://github.com/atom/electron/issues/589

[2016-04-02 17:36] shotlom commented on #123
wont be at the edge today :(

[2016-04-04 01:45] AshKyd commented on #123
@shotlom: Hoping you'll be able to stand up and say a couple of words about your app tonight? :)

[2016-04-04 03:18] shotlom commented on #123
hey mate, sorry tried to give you notice on gitter, I'm sick as a dog,
caught a throat infection on plane & can't actually speak. my apologies, I
wont make it

On Mon, Apr 4, 2016 at 11:45 AM, Ash Kyd <notifications@github.com> wrote:

--
Mr Sholto Maud

mobile: +61 (0) 424 094 227
email: sholto.maud@gmail.com
skype: sholtomaud

[2016-04-04 03:24] AshKyd commented on #123
@shotlom No probs, get well soon and we'll see you at the next one!

[2016-04-04 11:16] tomtomau commented on #121
Can put me down for May!

[2016-04-05 03:21] AshKyd commented on #118
@KoryNunn: thanks for the talk, it's pretty impressive. Do you have any resources more than the repo at [/korynunn/lenze](/korynunn/lenze) you'd like to add here?

[2016-04-05 03:22] AshKyd commented on #120
Just wanted to confirm you're good for May 2 @desiguel, and I'll put you on the agenda. 20 minute timeslot sound good? :)

[2016-04-05 03:23] AshKyd commented on #123
@govpack Thanks for speaking, it was good to go through what Electron can do. Do you have any resources you'd like to share from your talk?

[2016-04-05 04:55] KoryNunn commented on #118
Hmm not really, I might update the example for fastn to use it in the future.

[2016-04-05 11:44] desiguel commented on #120
Not sure about 20.. will see how much material I've got and let you know.

[2016-04-06 05:38] plantcom opened #125 "Experienced NodeJS Developer Required for Telematics Web Platform"
We are looking for skilled NodeJS developers to contract out to help with our existing software development project.

Our company uses gps tracking and telematics devices, installed in vehicles and mining machinery which communicates back to TCP servers.

Live data can then be viewed from our web platform which accesses the data using a combination of database polling and websockets.

We are based

[2016-04-07 00:26] AshKyd commented on #120
No pressure, but let me know so we know where to put you on the lineup. I'm sure people will have questions at the end too, so you might be surprised. :)

[2016-04-07 07:58] desiguel commented on #120
Should be ok for 15min + 5min for questions.

[2016-04-13 03:41] ChrisBriggsy opened #126 "Angular Hack Day Brisbane"
Hi there,

I’m running an Angular Hack Day in Brisbane on Saturday 14th May 2016, and was hoping this event would be something BrisJS would be interesting in partnering up on.

The days are broken up into 2 parts: In the morning, attendees get to learn about the basics of Angular 2 through a few 15-minute talks by Angular experts. Once the presentations are done, the attendees then fire up their l

[2016-04-13 05:06] colingourlay opened #127 "Join the ABC News team to work on major events coverage"
We're looking for a dev to join our team until November, to work on some of the major events we'll be covering this year, including the Federal Election, Olympics and US Election.

Details about this temporary contract role are in the [job ad](http://careers.abc.net.au/caw/en/job/495231/developer-websites-applications), but in short, you'd be working with the front-end team here in Brisbane, helpi

[2016-04-13 05:17] colingourlay commented on #127
P.S. If you have any questions, let me know and I'll try to answer them :dancers:

[2016-04-14 09:07] xwipeoutx commented on #126
Hi there,
(Full disclosure: I work for the same company as Chris)

I was hoping to be able to do the spiel at BrisJS, but I'll be away camping for the next BrisJS meetup :cry:.

I'd like to emphasise that the hack day will include some pretty decent learnings about Angular2, and a good chance to dive in with mentoring support. I've just started using it on a client project myself, and I must say,

[2016-04-15 01:34] iamkevinv commented on #126
Hey folks, yeah i'd love to have someone do a spot at the next meetup... if someone wants to do it... please let me know. Otherwise i'll just include it as part of upcoming events at the usual preamble.

[2016-04-15 01:41] #118 closed

[2016-04-15 01:42] #115 closed

[2016-04-15 01:43] #112 closed

[2016-04-15 01:43] iamkevinv commented on #104
Ping for resources to add?

[2016-04-15 01:45] iamkevinv commented on #96
If we have more resources from @jwulf please add them - otherwise it's tagged and closed

[2016-04-15 01:45] #96 closed

[2016-04-15 01:46] iamkevinv commented on #101
How is your _frozen_ status on this going? I hope you haven't _let it go_.

[2016-04-15 01:46] iamkevinv commented on #91
Ping again @jbristowe if you have links for people to share?

[2016-04-15 01:47] iamkevinv commented on #93
Stale. Closing.

[2016-04-15 01:47] #93 closed

[2016-04-15 01:48] iamkevinv commented on #48
C'mon @colingourlay ... you cannot deny the power of the BrisJS :-P  Want to get this show on the road?

[2016-04-15 06:46] jbristowe commented on #91
We put everything here: https://www.nativescript.org/resources

<img src="https://www.nativescript.org/images/default-source/Blogs/sneakers-console-output.gif" />

[2016-04-15 23:24] garrows commented on #101
Wow @iamkevinv! that's a level 9 Dad pun right there. :clap:

[2016-04-16 02:31] loklaan commented on #101
Hahaha brilliant @iamkevinv! But yeah, still frozen.

[2016-04-23 03:17] govpack commented on #123
@AshKyd

no worries, when it came down to it the clearest way to getting started with electron was to reflect on what require('electron') returns,

something like ```require('util').inspect(require('electron'))``` ...

[code]

and the inspection of the whole require('electron') tree...

[code]

[2016-04-23 03:27] govpack commented on #123
the index.js or electron app i used for the demo was...
given that one has to wait for some of those things
to load before one can use them

[code]

[2016-04-23 03:56] govpack commented on #123
It's important to note, the above code is running in electron.exe, since require('electron') won't work from node!! But what we do do is to get node to launch electron, which is easy to copy after running ```npm install -gf electron-prebuilt``` from the ```node_modules\electron-prebuilt\dist\*.*``` folder. I renamed the exe to "e.exe" and have a script "e.js" to run e.exe if I want to see the cons

[2016-04-23 03:57] rknell commented on #123
Boy that's verbose
On 23 Apr 2016 1:56 PM, "govpack" <notifications@github.com> wrote:

[2016-04-23 03:59] govpack commented on #123
@rknell verbiage (like cabbage) is good for you

[2016-04-23 13:29] govpack opened #128 "Stack Overflow Developer Survey 2016 Results"
http://stackoverflow.com/research/developer-survey-2016
including developer earnings in mean Big Macs per Year by country

![untitled](https://cloud.githubusercontent.com/assets/8147200/14761656/fe1459fc-09aa-11e6-8f4b-ee61a25423c1.png)

[2016-04-27 23:20] ckhowell opened #129 "Website developer short contract required"
We are looking for web developer to update update our current site?
Experience or looking to learn the suggested stack:
- NodeJS with experience in WebGL animations
- CSS/HTML
- Jekyll, Handlebars or similar static site generator

We have our designs and prototype animations designed.

Take a look at the prototype in InVision
https://invis.io/GM3NWNQPY

Work in progress node animation/menu
http://

[2016-05-02 05:58] iamkevinv commented on #121
Hi @tomtomau - All set for May 9?

[2016-05-02 05:58] iamkevinv commented on #120
Hi @desiguel - All set for May 9?

[2016-05-02 06:00] iamkevinv commented on #119
Hi @AshKyd - are you able to still put together at least a subset of what you wanted to raise for May 9?

[2016-05-02 06:01] iamkevinv commented on #101
Hi @loklaan - Are you at all able to show us what you started with? :)

[2016-05-02 07:20] tomtomau commented on #121
Yep all good @iamkevinv, when do you need a blurb?

[2016-05-02 08:09] iamkevinv commented on #121
Always helps!

On Mon, 2 May 2016 at 5:20 PM, Tom Newby <notifications@github.com> wrote:

[2016-05-02 20:20] AshKyd commented on #119
Sure, started some slides this weekend.

[2016-05-02 23:57] adamstephensen commented on #126
Hi Team. I'm free to come along and plug the event and see if I can round up a few more speakers and mentors.

[2016-05-03 00:08] loklaan commented on #101
Hoi @iamkevinv

I've pretty much dropped this project. Or, left it for someone else at my workplace.

Let us clean away this issue.

[2016-05-03 05:06] #101 closed

[2016-05-03 11:17] desiguel commented on #120
Yup.. all good.

On 02/05/16 15:58, Kevin Vanderbeken wrote:

[2016-05-03 11:50] desiguel commented on #120
@iamkevinv What type of connector is available for video input? I can output to vga..

[2016-05-03 13:58] iamkevinv commented on #120
Hi @desiguel - We export natively to HDMI, and i have Mini Displayport to HDMI adapters.
Can i grab your name for the Meetup Page?

[2016-05-03 14:27] iamkevinv commented on #120
Are you OK with standard 20 minutes, or would you like the 40 minute slot?

[2016-05-03 14:27] iamkevinv commented on #121
Are you OK with standard 20 minutes, or would you like the 40 minute slot?

[2016-05-03 14:27] iamkevinv commented on #119
Are you OK with standard 20 minutes, or would you like the 40 minute slot?

[2016-05-04 02:25] jwulf opened #130 "React front-end developer / cross-over to Node.js"
Pretty cool bimodal company with a solid revenue stream from a SaaS platform and a funded internal startup looking a frontend developer.

Here's a description of the tech stack:

- React | Flux | Redux
- Hot-loading
- Cross-platform JavaScript mobile development
- Test-driven Development
- Continuous Integration
- AWS CodeDeploy
- Linting (less time on style, more time on substance)
- AWS PaaS dep

[2016-05-04 02:29] AshKyd commented on #119
Nah, definitely stick with the 20. I don't have *that* much to talk about. :)

[2016-05-04 04:32] desiguel commented on #120
Andre de San Miguel

On 03/05/2016 11:58 PM, "Kevin Vanderbeken" <notifications@github.com>
wrote:

HDMI adapters.

[2016-05-05 05:33] desiguel commented on #120
20 minutes is ok.. I don't have enough material to cover for 40.

A.

On 04/05/16 00:27, Kevin Vanderbeken wrote:

[2016-05-07 09:01] tomtomau commented on #121
Hey @iamkevinv - didn't see this! I think it could easily be closer to 30-40 minute slot in the end with questions. Just let me know what would work better for the night :)

[2016-05-07 09:12] iamkevinv commented on #121
The 40ish min slot is perfect to start the night with! Thanks mate.
On Sat, 7 May 2016 at 7:01 PM, Tom Newby <notifications@github.com> wrote:

[2016-05-13 06:36] Altaaf85 opened #131 "Development Team Leader - $$$"
**This role is full time perm for a Brisbane based software company owned by a global giant.  Great pay rate, If this is you, call me ASAP 0402651076**

The Development Team Leader will direct, review and assist in all aspects of the development lifecycle including design, code development and testing.  You will ensure all solutions are developed to the highest quality standards and you will be re

[2016-05-13 06:40] Altaaf85 opened #132 "Intermediate Programmer Needed $$$"
**This role is full time perm for a Brisbane based software company owned by a global giant. Great pay rate, If this is you, call me ASAP 0402651076**

You will have extensive Javascript software development experience and be well versed in AGILE methodologies.

 We are looking for:

•	Self-sufficient and self-managing work practices with the ability to manage issues as they arise.
•	Ability to wo

[2016-05-18 14:02] jwulf opened #133 "Hiring an entire JavaScript team, wholesale"
https://www.youtube.com/watch?v=NlgDXpz6nEk

[2016-05-19 00:44] jwulf commented on #133
Hiring an entire team of JS devs, wholesale - $720,000 in salaries.

They're looking for six devs in total, and hiring any combination of two or more devs as a unit. "Molecules, not atoms" as they say at Stripe.

[2016-05-25 08:38] iamkevinv opened #134 "Console Inc - Frontend Web Developer - Contract role"
Hi Brisbane!

Console is keen to take on a contractor for 3 months, in order to help us polish and enhance our web platform on mobile. We're looking to spend more effort to get the responsive web application design and structure to a really good standard for modern iOS and Android browsing - so if you have experience with this we'd love to hear from you. This contract role can also lead to a full

[2016-05-25 08:52] iamkevinv commented on #114
This position is temporarily no longer advertised, but we're still taking resumes and talking with talented people to get them onboard. Get in touch with me :)

[2016-05-25 08:53] iamkevinv commented on #127
Closed @colingourlay ?

[2016-06-08 10:09] #126 closed

[2016-06-08 10:11] iamkevinv commented on #124
@girvo - How are you going? Poised to give us this talk monday? Would be great to hear about.

[2016-06-08 10:11] iamkevinv commented on #121
Thanks for the Talk @tomtomau - can you link the resources here?

[2016-06-08 10:12] iamkevinv commented on #120
Thanks for the talk @desiguel :) - if you have resources you can link to here, that would be great 👍

[2016-06-08 10:13] iamkevinv commented on #119
Thanks again @AshKyd - if you have the talk resources... you know the drill ;-) links!

[2016-06-08 10:15] iamkevinv opened #135 "Not living up to the promise? Righto."
An alternative to promises.

@korynunn has kindly volunteered a talk about his library - "Righto", which could help you in your call chain.

[2016-06-08 10:16] #123 closed

[2016-06-08 10:18] #129 closed

[2016-06-08 10:18] #127 closed

[2016-06-08 10:18] #125 closed

[2016-06-08 10:21] #106 closed

[2016-06-08 10:22] tomtomau commented on #121
No worries, slides are [here](http://slides.com/tomnewbyau/aurelia#/) and the repo ended up [here](https://github.com/tomtomau/brisjs-aurelia-demo).

Any chance of having the video on YouTube?

[2016-06-08 10:22] #111 closed

[2016-06-08 10:23] iamkevinv commented on #48
Long shot @colingourlay - but i need talks for BrisJS monday... keen to revisit this? Maybe contrast what you did, and what you'd like to do with it now, and if you'd make the same technical choices?

[2016-06-08 10:26] iamkevinv commented on #22
Going to call this done until we can get someone with a specific new request. Thanks folks!

[2016-06-08 10:26] #22 closed

[2016-06-08 10:28] iamkevinv commented on #14
@rknell - Would you perchance be able to give us a talk soon?

[2016-06-08 10:30] iamkevinv commented on #10
@eddieajau - This a possibility for the future? Otherwise i'm happy to close it.

[2016-06-08 10:42] iamkevinv commented on #19
likewise with this one @rknell :) Keen?

[2016-06-08 10:45] iamkevinv commented on #121
Partially uploaded. Australian internet sucks. I promise it will be there.

[2016-06-08 10:45] #121 closed

[2016-06-08 11:07] #48 closed

[2016-06-08 23:08] rknell commented on #14
Whens the next meeting?

<http://www.snappy-apps.com.au>

On Wed, Jun 8, 2016 at 8:28 PM, Kevin Vanderbeken <notifications@github.com>
wrote:

[2016-06-08 23:41] AshKyd commented on #119
Slides are here: http://ashkyd.github.io/es-modules-2016/

Might write some words at some point.

[2016-06-09 11:48] eddieajau commented on #10
Yes, happy to lock it in for the July meetup or later.

[2016-06-09 13:14] pdm55 opened #136 "Talk Proposal - Hiring a JS Developer: A Client's Perspective"
**Hiring Javascript developers to code an online game**

_The product_
http://akqbridge.com/

_The journey_
6 developers have put different parts of the game together over a 3 year period.

_My proposed talk_
My motivation in having an online game. Where I looked to find my developers. How I saw my duties as the client. Key difficulties we have faced. Similarities and differences between the 6 dev

[2016-06-12 02:56] iamkevinv commented on #136
Hi @pdm55 - I've added you to Monday's lineup - thanks for volunteering to give a talk :-)

[2016-06-12 03:00] iamkevinv commented on #14
It was Monday 13 June. If not that we'd have first Monday of July.

[2016-06-12 03:01] iamkevinv commented on #10
Consider that locked for July

[2016-06-12 03:02] #119 closed

[2016-06-12 22:09] eddieajau commented on #10
Ok. How long is the time slot?

[2016-06-13 01:25] iamkevinv commented on #10
20 mins or 40 minutes are the usual selections.

On Mon, 13 Jun 2016 at 08:09 Andrew Eddie <notifications@github.com> wrote:

[2016-06-13 04:06] eddieajau commented on #10
Do you want me to plan for 40, and I can always cut it back if there are other good offers?

[2016-06-13 04:24] desiguel opened #137 "Has anyone been involved in govhack before?"
Am thinking about participating..

[2016-06-13 06:48] iamkevinv commented on #10
You are more than welcome to ask for any amount you like :-)
We will hopefully have quite a few things come up for July, but i'm always happier to have more content than too little.

[2016-06-14 01:07] LennyThompson opened #138 "Talk - Experiences with Firebase"
Provide some insight into implementing firebase as the datastore for a web app, in particular looking at the angular fire and javascript APIs, and security rules with the firebase-bolt compiler. With coding example.

This can be scheduled more or less whenever suits, just give me a couple of weeks notice.

[2016-06-14 05:52] billymwlei commented on #137
Yes and winner of 2015 Brisbane.
Any information you wanna know ?

[2016-06-14 11:12] desiguel commented on #137
Oh.. heaps!

Worth participating?
Prep allowed? If so, won't it just get filled with ppl who have worked on their project for months before?
Best parts, worst parts?
Best for teams or individuals?
Tips on how to do well (since you did!)?

[2016-06-14 12:58] themikola commented on #138
I would be very interested in this. Have just gotten into the latest firebase release, and am struggling with the security rules.

[2016-06-14 22:58] #52 closed

[2016-06-14 23:59] iamkevinv commented on #138
Hey @LennyThompson - thanks for volunteering at the meetup... great to see you posted the issue. Lets set you up for the July meetup date :) thanks!

[2016-06-15 00:00] iamkevinv commented on #14
How about it :) ?
July good for you @rknell ?

[2016-06-15 00:02] billymwlei commented on #137
Yes, I meet nice ppl. But I think startup weekend is more worth to go (Same month last year)
Not really.
Best :meet new ppl.Worst: Seems a lot are hobby/semi-pro coder/student
There will be some time for you to meet new teammate , but lots go there as a group (one from Halfbrick Studios last year)
Great idea plus good presentation
Hope this can help.

[2016-06-15 02:31] iamkevinv commented on #137
@AnnaGerber has been helping at GovHack before, so i'd consider her an expert, if that helps.

[2016-06-15 02:36] iamkevinv commented on #136
If you have further resources to share, you're welcome to link them here @pdm55 👍

[2016-06-15 02:36] #136 closed

[2016-06-15 02:37] iamkevinv commented on #135
@korynunn can you link applicable resources here please :)

[2016-06-15 02:46] AnnaGerber commented on #137
I'm one of the organisers again this year. We have a maker node at HSBNE (for making physical entries e.g. think 3D printed data visualisations or Physical computing type entries) as well as the main GovHack event at UQ this year.

Entries must be created completely within the timeframe of the weekend. The only prep you are encouraged to do advance is to take a look at the datasets available and m

[2016-06-15 03:03] iamkevinv opened #139 "NodeBots Day 2016"
Here are the details for the upcoming International NodeBots day that was mentioned at the June meetup. It's the afternoon of Saturday 23rd of July at The Edge.

It's a great event, and we have BrisJS members organising (@AnnaGerber & @garrows)

More details here: [http://nodebotsau.io/](http://nodebotsau.io/)

[2016-06-15 03:15] KoryNunn commented on #135
Sure!

The lib: https://github.com/KoryNunn/righto

A comparison of the two: https://github.com/KoryNunn/righto-v-promise

[2016-06-20 07:57] lukebrooker opened #140 "Talk - Minimising CSS Complexity"
This would be the talk I gave at [CampJS](http://vii.campjs.com/schedule/), although slightly updated.

**Here was the excerpt:**

Many try to solve CSS complexity and long-term maintenance by using advanced methods of organisation like BEM, OOCSS, SUIT or more recently CSS modules or other forms of CSS in JS™. While these may be necessary, and choosing a strategy is important, there is a lot of c

[2016-06-27 09:05] eddieajau commented on #10
Ok. For the talk let's just call it "TDD by example using Node and Mocha". I'll work through a simple example from scratch using TDD and we'll see how far we get.

[2016-06-28 13:09] iamkevinv commented on #140
hey @lukebrooker - when would you like to do this talk? Next week's July meet?

[2016-06-28 13:11] iamkevinv commented on #135
Thanks man!

[2016-06-28 13:11] #135 closed

[2016-06-28 13:12] iamkevinv commented on #91
Thanks man

[2016-06-28 13:12] #91 closed

[2016-06-28 13:14] iamkevinv commented on #124
@girvo - Any update? I'd love to put a date on this talk ;-)

[2016-06-28 13:15] iamkevinv commented on #14
pinging @rknell ?

[2016-06-28 13:17] iamkevinv commented on #19
Or perhaps you're still on for this one @rknell ?

[2016-06-28 13:18] iamkevinv commented on #10
Looking forward to your 40min slot first up at our July meetup :) thanks @eddieajau

[2016-06-28 13:36] #134 closed

[2016-06-28 21:42] rknell commented on #19
@iamkevinv Yep! Lets do this one. I just finished a big job for the RACQ and ended up implementing some really cool advanced strategies that I can go over. How familiar do yo think the cohort would be be with Mongoose?

[2016-06-29 00:26] tomtomau opened #141 "RedEye Apps - Front-end JS developer"
Hi folks,

We're hiring a front-end JS developer here at RedEye to work on our Aurelia JS application. Don't worry if you haven't worked in Aurelia before - if you've worked in Angular, Knockout, etc. it will feel very familiar (and hopefully way better!)

RedEye is a software startup of ~30 awesome people here in the CBD creating software solutions for service providers and asset owners (think oi

[2016-06-29 01:36] rknell commented on #19
@iamkevinv Not sure if you are full for speakers, however when it comes the time I have put together the presentation now at least. A little different than the usual I was going to run you through some live code, driven by tests, to show the guys how it works ranging from simple CRUD operations to advanced plugins and hooks and relational database strategies, highlighting a few gotchas along the w

[2016-06-29 14:31] iamkevinv commented on #140
Assuming a 20-25min slot?

[2016-06-29 14:36] iamkevinv commented on #138
Looking forward to this on monday @LennyThompson :)

[2016-06-29 14:52] iamkevinv commented on #140
Can split the 40 and 20 into a 30 each for yourself and Eddie to give enough time if needed.

[2016-06-29 22:01] lukebrooker commented on #140
It was originally 30 mins, but I could get it down to 25 if needed 😄

[2016-07-01 04:34] bedeoverend opened #142 "Talk - Building Simpla on Web Components"
Would love to give a talk on how we've created [Simpla](https://simpla.io) - a library of Custom Elements built on Polymer that contain editable content and talk to a RESTful API.

Something of a background on what Simpla is, the problems we faced and how Web Components / Polymer has helped resolve them.

Be keen to give this one on August 1st if possible?

[2016-07-01 06:05] ryan-senn opened #143 "Blue Dog - Hiring frontend Javascript Dev (Reactjs/Redux), full time position"
Hey guys,

We're looking for a full-time frontend javascript dev (Reactjs/Redux) to join our team at work. The office is located in Milton, here is the ad: http://www.seek.com.au/job/31312244?pos=1&type=standout&engineConfig=&userqueryid=15773117401330505&tier=no_tier&whereid=5010

Just send an email to tech@bluedogtraining.com.au if you have any questions, it's the email used by the dev team so o

[2016-07-04 10:37] azariah001 opened #144 "Talk - Houdini, write your own CSS magic 'natively' in JavaScript"
Are people interested in a talk on Houdini? I'd be willing to do a talk on it, although I'm no expert. At this stage I don't think anyone is really :stuck_out_tongue: but it's really cool and I'd like to share if others are interested. :smile:

For those not already aware. Houdini is the product of a joint task force between all of the major browser engineering teams plus some engineers from HP an

[2016-07-04 12:42] pori opened #145 "Talk - develop modern JS projects with Make"
Typical JS workflows involve either Grunt or Gulp and the large suite of tools they're supposed to encapsulate. I've found this approach to be problematic as there is a lot of boilerplate involved when starting up even the smallest libraries.

Thus, I've begun to rely on make for all of my lint/build/test/whatever tasks due to it's simplicity and ease to learn. Additionally, I've created a meta-pa

[2016-07-04 23:10] #137 closed

[2016-07-05 03:47] LennyThompson commented on #138
The repo with the source for the demo firebase ap...

https://github.com/LennyThompson/firebase-demo

I can add the presentation as well if anyone is interested.

[2016-07-06 12:39] mcnamee commented on #138
Great work @LennyThompson
Thanks for the time you spent preparing and giving the talk

[2016-07-14 08:30] iamkevinv commented on #144
This sounds cool @azariah001 :) I'd be pretty happy to have you in the next BrisJS for August if you're keen?

[2016-07-14 08:31] iamkevinv commented on #145
Builds are a popular topic @pori so it would be cool to have you present. Interested in the August event?

[2016-07-14 08:32] iamkevinv commented on #140
Resources to share for your talk @lukebrooker ?

[2016-07-14 08:58] iamkevinv commented on #19
This is great mate :) Sorry to not have seen this sooner. I think since this one has been in the wings a while, i'd like to get it in for August, and we'll postpone one of the recent submissions. I'll put the label on for Aug and add it as next.

[2016-07-14 09:01] #104 closed

[2016-07-14 09:02] #98 closed

[2016-07-14 09:03] iamkevinv commented on #120
@desiguel - got any of your links to materials to add here?

[2016-07-14 09:03] #120 closed

[2016-07-14 09:04] iamkevinv commented on #10
Thanks again for the talk @eddieajau - if you can share resources / links here that would be good.

[2016-07-15 02:37] pori commented on #145
Yes sir. Count me in for the next MeetUp.
On Thu, Jul 14, 2016 at 18:31 Kevin Vanderbeken <notifications@github.com>
wrote:

--
Alex
[image: photo]
*Alex Hernandez*
407.844.7695 | porialex@gmail.com | Skype: porialex <#> | Ann Arbor, MI
<http://facebook.com/pori.io>  <http://linkedin.com/in/porialex>
<http://twitter.com/pori_alex>  <http://instagram.com/porialex>
<http://github.com/pori>  <http://

[2016-07-17 17:51] azariah001 commented on #144
Yeah, I'm up for it. :smile:

[2016-07-18 04:48] LennyThompson commented on #138
[Firebase presentation.pdf](https://github.com/BrisJS/meetups/files/368339/Firebase.presentation.pdf)

[2016-07-18 04:48] LennyThompson commented on #138
All done Kevin...

[2016-07-20 02:02] MauriceButler opened #146 "Frontend (React) JavaScript Developer - Byron, Brisbane, Melbourne (remote)"
Psychwire (http://psychwire.org/careers/) is looking for a JavaScript developer to help out on our existing and new products.

Head office is in Byron Bay, most of the development team work remote from Brisbane.

Our stack is React & Node, all deployed on AWS

Great place to work, good $, and the freedom to work remote.

http://psychwire.org/careers/positions/expert-front-end-developer.html

[2016-07-20 22:48] azariah001 commented on #144
Cool! I've started prepping. :smile:

[2016-07-25 11:54] iamkevinv commented on #142
Okay! Lets let the world know. Look forward to having you present!

[2016-07-25 11:58] iamkevinv commented on #19
Hey @rknell i'm going to confirm the lineup. Hope you're still in?

[2016-07-25 12:05] iamkevinv commented on #144
Are you cool to do about 15 minutes+Questions? We're compacting in 4 talks for Aug so i'd like to shave off some minutes and not having an opening 40min talk.

[2016-07-25 12:07] iamkevinv commented on #145
Okay we're on... Are you cool to do about 15 minutes+Questions? We're compacting in 4 talks for Aug so i'd like to shave off some minutes and not having an opening 40min talk. Honestly you'll probably still get the whole 20 minute slot anyway, but i ask just in case.

[2016-07-25 12:08] iamkevinv commented on #19
Your 15 min length is completely perfect, and you'll probably get at least a couple of questions taking you a few mins more.

[2016-07-25 12:09] iamkevinv commented on #142
Are you cool to do about 15 minutes+Questions? We're compacting in 4 talks for Aug so i'd like to shave off some minutes and not having an opening 40min talk. Honestly you'll probably still get the whole 20 minute slot anyway, but i ask just in case.

[2016-07-25 23:17] pori commented on #145
I'm cool with that. 20 mins is my comfort spot. 👌🏻
On Mon, Jul 25, 2016 at 22:07 Kevin Vanderbeken <notifications@github.com>
wrote:

--
Alex
[image: photo]
*Alex Hernandez*
407.844.7695 | porialex@gmail.com | Skype: porialex <#> | Ann Arbor, MI
<http://facebook.com/pori.io>  <http://linkedin.com/in/porialex>
<http://twitter.com/pori_alex>  <http://instagram.com/porialex>
<http://github.com/pori>

[2016-07-26 07:05] azariah001 commented on #144
Yeah that's fine, no problem at all. :)

[2016-07-27 01:13] bedeoverend commented on #142
@iamkevinv nah that's fine. 15 minutes + Q/A works well. Looking foward to it!

[2016-07-27 05:37] cam861 opened #147 "Web Application Developer required - JS Stack - Immediate start"
Scooter Tutor is working tirelessly to drop the barriers and disrupt the home tuition space.  We've been working on it for years and now we're ready to start to build the team.  Let me know if you're interested in learning more about the position...

We have a (token) Seek ad running at the moment, but feel free to contact me directly.

[Seek Ad](http://www.seek.com.au/job/31466484?pos=1&type=stan

[2016-07-31 12:29] rknell commented on #19
Hey Kevin,

Been overseas sorry. Can still do it but might not be able to make the 6:30
start tomorrow, if you put me last that would be great!

If you want to bump me this month that is fine also.

Regards,

Ryan

On Jul 25, 2016 22:08, "Kevin Vanderbeken" <notifications@github.com> wrote:

[2016-07-31 13:50] iamkevinv commented on #19
Yep - last of the night is all good. Look forward to seeing it!

[2016-07-31 13:51] rknell commented on #19
alright, lock it in!

On Sunday, 31 July 2016, Kevin Vanderbeken <notifications@github.com> wrote:

--
<http://www.snappy-apps.com.au>

[2016-08-01 08:53] rknell commented on #19
Hey mate, stuck downstairs!

On Jul 31, 2016 11:51 PM, "Ryan Knell" <rknell@snappyapps.com.au> wrote:

[2016-08-02 04:44] VladimirAus opened #148 "Talk - Automated browser testing with Nightwatch.js"
Can do short 15mins
- basics of automated browser testing
- nightwatchJS scripts
- examples of writing tests for custom functionality

or can do extended 30mins talk with @jannakha with addition of
- real life production examples
- headless browser setup for Linux
- alternative browser testing framework

[2016-08-03 00:06] azariah001 commented on #144
Talk concluded. :smile:

Will probably revisit this topic at some point in the future when there's actual stuff to demo. :grinning:

[2016-08-03 00:06] #144 closed

[2016-08-03 02:50] #145 closed

[2016-08-12 08:03] garrows opened #149 "Proposal: Chat Bots"
My team did a facebook messenger bot for GovHack and it was super easy and pretty powerful.

Anyone interested in a simple talk on how to make them and what they can do?

I might even throw in slack bots too.

[2016-08-13 08:02] iamkevinv commented on #124
Hi @girvo - People are still keen to hear this one... do you have time for a sept presentation?

[2016-08-13 08:03] iamkevinv commented on #14
Since we had such a good response... Are you at all able to show this off in Sept @rknell ? :D

[2016-08-13 08:06] iamkevinv commented on #148
Nice. We have added this to our stack at work too, so i'd really like to see someone talking about it. I don't mind if you want a group presentation that's a bit longer... Could have you both up first so we can have the 30-40 min slot :) Just let me know. Hows September looking?

[2016-08-13 08:07] iamkevinv commented on #142
Thanks for the talk - i think people really got into it!! We'd be happy to see where this goes and have you back anytime. If you could share some links here it would be great.

[2016-08-13 08:08] iamkevinv commented on #19
Heya! This worked well! Thanks again for giving the presentation. If you have links to share, please drop them in so i can close the ticket. Thanks.

[2016-08-13 08:09] #139 closed

[2016-08-13 08:09] iamkevinv commented on #138
THANKS! 👍

[2016-08-13 08:09] #138 closed

[2016-08-14 22:50] bedeoverend commented on #142
@iamkevinv thanks! It was great meeting everyone and seeing some fantastic talks. [Here are my slides](https://speakerdeck.com/bedeoverend/simpla-on-webcomponents-at-brisjs-august-2016).

Also for anyone who's interested, I'd highly recommend reading [this](https://developers.google.com/web/fundamentals/primers/customelements/) article on the new Custom Elements spec by Eric Bidelman. Well worth a

[2016-08-15 02:20] iamkevinv commented on #142
Awesome, thanks!

[2016-08-15 02:20] #142 closed

[2016-08-16 00:56] rknell commented on #19
Hey,

All links are in the comments above, please close it out.

<http://www.snappy-apps.com.au>

On Sat, Aug 13, 2016 at 6:08 PM, Kevin Vanderbeken <notifications@github.com

[2016-08-16 00:57] rknell commented on #14
Bit under the pump at the moment, could we push it back to the October
meetup?

<http://www.snappy-apps.com.au>

On Sat, Aug 13, 2016 at 6:04 PM, Kevin Vanderbeken <notifications@github.com

[2016-08-16 00:58] iamkevinv commented on #14
I'll hold you to it! (Actually not, but appreciate you stepping forward to
do it :-) )

[2016-08-17 04:32] #143 closed

[2016-08-18 04:17] insin opened #150 "Talk - Building React apps, components and libraries with a *little* bit of configuration"
I can give a talk about using [nwb](https://github.com/insin/nwb) to develop React apps, components and libraries.
---

For React apps, it starts out as a zero-config single `devDependency`, with a hot-reloading development server, default testing setup with Karma, Mocha and PhantomJS and production build with React-specific optimisations and deterministic filename hashing.

Command-line feature t

[2016-08-26 14:15] iamkevinv commented on #150
Wow - impressive - you're in! Haha

[2016-08-26 14:19] iamkevinv commented on #148
Hiya - just triple checking you'll be there to present for sept?

[2016-08-26 14:24] iamkevinv commented on #149
I'm assuming you're good to go for this one…

[2016-08-27 08:28] VladimirAus commented on #148
Yep @iamkevinv, September is looking good. 30 minutes should be plenty of time.

[2016-08-28 22:12] garrows commented on #149
Well I only got the 1 👍 so I thought it wasn't a very popular topic. Happy to drop it or do a really short talk.

[2016-08-29 09:31] #19 closed

[2016-08-29 09:32] iamkevinv commented on #149
People generally don't upboat much here. You should do the things!

[2016-08-30 13:20] iamkevinv commented on #150
@insin Confirmed?

[2016-08-30 14:14] iamkevinv opened #151 "ForwardJS - Online Conference - October 28th [San Francisco]"
Hi. You may remember us from such conferences as Forward Swift and Forward JS.
We're putting together an online event in October 2016 that we would love to have you speak or teach at. The online conference is October 28th with online workshops on 10/25, 10/26, 10/27.  You can submit 20 or 40 minute talks for the online conference day and 4-6 hour online workshops for the workshop days. Please keep

[2016-08-30 14:21] insin commented on #150
@iamkevinv Yup!

[2016-09-04 08:27] AshKyd opened #152 "JS13K overview"
There's a few folks here doing [JS13K](http://js13kgames.com), I reckon we could fill an October slot with some show & tell style talks.

Peeps I know are entering this year:
- @ashkyd (hey, it's me!)
- @garrows
- @korynunn
- your name here?

Leave a mention in the comments if you're taking part and I'll add your name to the list.

[2016-09-04 09:36] garrows commented on #152
I'm in.
@korynunn should demo his game too as an honorary JS13k entrant.

[2016-09-04 12:41] KoryNunn commented on #152
JS130k

[2016-09-05 06:36] iamkevinv commented on #150
@insin Urgent: How long do you need for your talk session. Normally a slot is 20 mins, but we can give you around 35ish to 40ish if we put you on first. Please let me know asap. Thanks.

[2016-09-05 06:54] insin commented on #150
20 minutes is fine.

[2016-09-05 20:12] johncmckim opened #153 "Talk - Serverless Architectures"
I attended the September Meetup last night and really enjoyed it. A couple of people I chatted to suggested the fun project I've been working on recently might be a good topic for a talk.

I've been building a Serverless garden monitoring system. It uses React, GraphQL, Auth0, Firebase Hosting, AWS (IoT Hub, Lambda, DynamoDB + more) together to create a web dashboard and notification system for my

[2016-09-05 21:59] tomtomau commented on #153
That's something I'd definitely be interested in seeing - I've recently started playing around with serverless (which I see you've contributed to), so would be keen to see some how you achieve certain things.

[2016-09-05 23:32] johncmckim commented on #153
@tomtomau if you have specific things you want to know about let me know.

I was thinking that if I do a demo I'd look at the Serverless framework (version 1.0.0). I would go over the `serverless.yml` config and demo a deployment.

[2016-09-07 00:47] unixbigot opened #154 "Talk: IoT for slackers"
Following on from the recent talk on Chat Bots, I have a presentation I'm preparing for a conference that I could preview at BrisJS - how to connect physical devices running NodeMCU (which is Not Javascript, but a Lua environment heavily influenced by NodeJS) to Slack teamware via the Node-RED javascript flow-based programming environment.

[2016-09-07 00:52] unixbigot opened #155 "Talk - Javascript rules my life (intro to Node-RED)"
I use the Node-RED system (which is a visual programming tool written in NodeJS) to pull together a lot of information at home and work.   With Node-RED, Javascript is the glue that can bring together a huge number of other systems into one information flow.

At home, I can unlock my front door using my phone, monitor the environment, and control lights and other stuff.

At work, I can pull system

[2016-09-07 01:06] demsey2 commented on #155
just watched a video on Node-RED website, this looks awesome

[2016-09-07 06:24] mcnamee opened #156 "Wanted: Javascript Developer (ReactJS)"
We're expanding our Mobile Apps team and need a highly committed and enthusiastic JS Developer. We build our mobile apps in cross-platform frameworks like React Native (ReactJS) and Ionic (AngularJS).

JS for apps? Cross-platform? Gross? The apps we're producing are seriously amazing! You wouldn't be able to tell they're not written in a "native" language. Hit us up, we'll show you.
## [We are Piv

[2016-09-09 01:03] csinge opened #157 "Wanted: Javascript Developer (() => experience.match(/node|angular[\d]/g))()"
Sorry, got a little trigger happy with the save.

DWS is looking for senior javascript/front end developers, pay is great and we get to work on some really cool projects, with a lot of bleeding edge technologies.  If your interested call me on 0468336808 or email me at cameron.singe@dws.com.au

Cheers
Cameron

[2016-09-23 10:26] iamkevinv commented on #148
I feel you could attach any links to your presentation resources or things people should check out - please do

[2016-09-23 10:27] iamkevinv commented on #150
Was great! If you can share links and resources here for your presentation that would rock

[2016-09-23 10:28] iamkevinv commented on #149
Thanks dude - can you add links or resources for the talk here?

[2016-09-24 01:18] iamkevinv commented on #155
Happy to join the line up for oct? 20 mins with 5 min questions?
I see you have two talks volunteered (#154) - do you mind if we space them out over the two next monthly sessions?

[2016-09-24 01:20] iamkevinv commented on #154
Oh sounds like this would follow on from the node red talk well

[2016-09-24 01:24] iamkevinv commented on #153
This is great… lock you in for the next one? Do you want a 20 or 40 min slot? 5 min usually on top of each to deal with questions.

[2016-09-24 01:25] iamkevinv commented on #152
Lock you gents in with a 20 min session?

[2016-09-24 01:26] KoryNunn commented on #152
Yep. Completely not js13k but still a game so..

[2016-09-24 01:43] johncmckim commented on #153
I can do the next one. The 3rd of October?

The 40 minute slot would be good. I'm doing a talk in Sydney on the same topic which is a 40 minute slot.

[2016-09-24 04:42] unixbigot commented on #155
Definitely prefer to space out the talks.   #154 is a cut down highlights of the presentation I'm doing at Yow Connected in oct.    This proposal (Javascript rules my life) is a wider survey of what you can do with Node-RED.   I'm fine to do this one in oct, and  the other whenever it fits.

[2016-09-24 10:29] AshKyd commented on #152
Yeah, I ain't got much to show but I'll take 5 mins and show it.

[2016-09-26 08:12] johncmckim commented on #153
Noticed you changed the dates. I can do that date too.

[2016-09-26 11:41] iamkevinv commented on #153
Keen eye! Thanks for the confirmation :) Looking forward to it.

[2016-09-26 11:43] iamkevinv commented on #155
Fantastic. We've had to push it back a week because of a public holiday landing on the monday. Hope this is still okay. I'll add the confirmation label.

[2016-09-26 11:45] iamkevinv commented on #152
Well you each can talk for 6.6666 mins i'm sure.

[2016-09-26 11:46] iamkevinv commented on #130
Hey @jwulf - i routinely purge the older ones in here... if it's still "on" then let me know and i'll re-open the job posting.

[2016-09-26 11:46] #130 closed

[2016-09-26 11:48] iamkevinv commented on #133
Likewise with this one :) Let me know if it needs reopening.

[2016-09-26 11:48] #133 closed

[2016-09-26 11:49] iamkevinv commented on #141
Hi @tomtomau - Let me know if this should be reopened... i'm just doing a cleanup of some of our older postings :)

[2016-09-26 11:49] #141 closed

[2016-09-26 11:51] iamkevinv commented on #147
How is it going @cam861 ? - I've been closing some of the older postings... can this one be taken down too? Or have more info to entice people?

[2016-09-26 11:51] tomtomau commented on #141
All good :)

[2016-09-26 11:56] iamkevinv commented on #114
Still current folks! Also quite keen to find someone leaning more to backend node.js API on express

[2016-09-26 12:18] unixbigot commented on #155
So this would be Oct 10th?  That's fine (better, even)

[2016-10-03 08:19] johncmckim commented on #153
@iamkevinv is there a way I can contact you about this presentation outside of Github? Email? Want to organise a few things for the presentation.

[2016-10-03 08:45] iamkevinv commented on #153
Totally. me@kevinv.org

[2016-10-03 10:46] iamkevinv commented on #14
@rknell - Would you still be on for the Oct Meetup next monday?

[2016-10-05 21:40] rknell commented on #14
Hi Kevin,

Sorry still flat out, wont be able to make it this time.

<http://www.snappy-apps.com.au>

On Mon, Oct 3, 2016 at 8:46 PM, Kevin Vanderbeken <notifications@github.com>
wrote:

[2016-10-07 06:11] iamkevinv commented on #14
November it is.

[2016-10-07 06:16] iamkevinv commented on #155
YES! :D

[2016-10-09 03:12] #147 closed

[2016-10-11 03:03] johncmckim commented on #153
Thanks again for having me.

I have uploaded my slides to my website - [BrisJS Oct 2016](https://johncmckim.me/presentation/2016/10/10/brisjs-serverless-garden). You can view the slides at that URL or get a PDF copy.

[2016-10-13 05:41] AdamPD opened #158 "Is there a Slack/Discord channel for discussion?"
Just what the title says. 😄

[2016-10-13 05:41] tomtomau commented on #158
https://gitter.im/BrisJS/meetups

[2016-10-14 06:33] duncanhunter opened #159 "Talk: Techniques and practices for testing Angular 2"
Writing frontend tests has always been hard, let us show you how to make testing easier in your Angular 2 applications.
From unit testing components and services to end-to-end testing your entire application, we will give you tips and techniques for testing in Angular 2.

[2016-10-14 06:35] duncanhunter opened #160 "Event: Angular Hack Day Brisbane"
http://angularhackday.com/brisbane/
Date: Saturday, 22nd October 2016
Venue: TBA
Time: 8.30am – 5pm

What is Angular Hack Day?
Angular Hack Days are for Angular Developers or people who want to learn Angular.
There will be something for everyone, experienced Angular developers can share ideas with other experienced developers. If you’re a beginner then there’s plenty to learn on the day.
It’s reco

[2016-10-14 06:36] duncanhunter opened #161 "Event: The Angular Superpowers Tour"
https://www.ssw.com.au/ssw/Events/Training/Angular-Superpowers-Tour.aspx
Brisbane
FRI, 18TH NOV
Price $49

This one-day workshop brings developers up-to-speed on the new features and benefits of using Angular 2 to build awesome web applications.

Everything has changed! Angular 2 and modern web best practices involve massive changes to how we build modern web applications.

At SSW we have already

[2016-10-15 08:22] AshKyd commented on #158
Yup. Jump on Gitter, we're pretty friendly.

[2016-10-15 08:22] #158 closed

[2016-10-24 00:11] AdamPD opened #162 "Wanted: JavaScript dev (React, Redux, TypeScript, all the things)"
Hey guys,

We're [PharmaData](http://pharmadata.io).  We're looking for a kickass full stack dev, with a focus on a thick front end client using React.  It's all an in-house product that is growing globally.  We focus a lot on building a great culture and making it a fun place to work.

Our front end stack is ...
- React, Redux, redux-thunk (now moving to redux-saga), gulp
- TypeScript (we really

[2016-10-24 03:26] zhaoshengjun commented on #162
Hi @AdamPD , I am interested! How to proceed?

[2016-10-24 04:03] lukekhamilton commented on #162
Hi @AdamPD, are you guys open to remote dev's? If so love to have a chat.

[2016-11-01 00:03] mbaggott opened #163 "Talk: Perspective from an Intern - Experiences with the Ionic Framework and Cloud9 IDE"
An introduction to writing Android/iOS apps with the Ionic Framework with the Cloud9 online IDE. I often see posts on stack overflow that writing an app for iOS requires a Mac and XCode. Give tips on how to do this without a Mac, and publish to a device running either platform.

[2016-11-01 12:23] iamkevinv commented on #155
Hi @unixbigot - we'll close this one soon - if you have resources to give to the community from your talk, please feel free to link them here! Thanks

[2016-11-01 12:23] iamkevinv commented on #149
@garrows if you have links for peoples... feel free to add. I have to close this issue now. Thanks!

[2016-11-01 12:23] #149 closed

[2016-11-01 12:25] iamkevinv commented on #150
Hi again @insin - if you have anything like talk slides or extra resources you'd like to link, feel free to add it here. I'm just cleaning up so this issue will get closed. Welcome to add more even though i closed it.

[2016-11-01 12:25] #150 closed

[2016-11-01 12:26] iamkevinv commented on #140
If you find your resource links for the folks at home @lukebrooker - feel free to add. Closing for now. Thanks!

[2016-11-01 12:26] #140 closed

[2016-11-01 12:26] #155 closed

[2016-11-01 12:27] iamkevinv commented on #148
Thanks again for the presentation @VladimirAus ... if you have some links to the talk or interesting things to check out... feel free to link them here :) - I'm cleaning up so i'll close this issue but you can still add to it.

[2016-11-01 12:27] #148 closed

[2016-11-01 12:28] iamkevinv commented on #10
Any resources you can share @eddieajau? I'll close this issue for now, but don't let that stop you :) Thanks!

[2016-11-01 12:28] #10 closed

[2016-11-01 12:28] iamkevinv commented on #159
Would love to confirm you for this next meetup @duncanhunter - Are you free to do a 40 or 20 minute session next monday? Thanks!

[2016-11-01 12:30] iamkevinv commented on #154
Hi @unixbigot - all ready to go to present your venerable part 2 of the IoT and node-red series? ;-)
Would love to see this one for monday - 20 minutes or 40 minutes?

[2016-11-01 12:30] iamkevinv commented on #152
@AshKyd @KoryNunn @garrows - link your game things here :)

[2016-11-01 12:30] #152 closed

[2016-11-01 12:31] #160 closed

[2016-11-01 12:31] iamkevinv commented on #161
We'll mention this at the meetup

[2016-11-01 12:32] #151 closed

[2016-11-01 12:33] iamkevinv commented on #124
Going to check in - monday is the november meetup @girvo - any chance to see this presentation? :)

[2016-11-01 12:33] #153 closed

[2016-11-01 12:35] iamkevinv commented on #163
This looks cool @mbaggott - are you volunteering? I'm going to assume you are!
Are you able to give a 40 minute or 20 minute presentation for the next meetup - monday?
Thanks :)

[2016-11-01 12:42] iamkevinv commented on #14
@rknell - I'm checking in again - would you be available for the talk for November meetup next monday? I think people would be keen.

[2016-11-01 22:07] mbaggott commented on #163
Hi @iamkevinv , yes volunteering for a talk on Monday 7th :) I don't know about a presentation i've never done anything like this before, but i thought i would focus on giving some insights into my first real foray on Javascript, and some tips about the process as mentioned in the brief.

[2016-11-01 22:36] rknell commented on #14
Hi Kevin,

Been doing more with React Native and I think its a better way to go,
I could give a talk about my thoughts and the hurdles I needed to
overcome to get started if you like? I think I would generally advise
against making an app with Cordova these days.

What do you think?

R

[2016-11-02 00:50] duncanhunter commented on #159
Hi

I'm free Monday to do a 20-40min talk on testing. Look forward to it.

[2016-11-02 01:35] iamkevinv commented on #163
Okay cool. Regular 20 min or so should be plenty then. Few slides of why you were working with these tools, how it was to get set up, maybe gotchas for others to learn from.... that kind of stuff. There's a huge variety of backgrounds and knowledge levels in the audience, from those that don't write JS to those who contribute to NodeJS or large popular projects.

[2016-11-02 01:38] iamkevinv commented on #159
Which would you like... 20? or 40? :-) I divide the night into time slots for each person, and that determine the running order. Hence asking for specifics. After my usual intro, there's usually one 40 min up front, with a 20-30 min intermission for networking pizza and drinks, and two 20 min sessions following.

[2016-11-02 01:44] mbaggott commented on #163
Sounds good Kevin, i will get something organised! Thank you.

[2016-11-02 02:02] duncanhunter commented on #159
lets go for 40min

[2016-11-02 03:52] AdamPD commented on #162
Hey @zhaoshengjun and @lukekhamilton - can you shoot me an email on adam@pharmadata.io and we can chat?

[2016-11-02 08:07] unixbigot commented on #154
@iamkevinv the version I did at Yow Connected ran 45 mins, but had a lot of intro material (basically rationale for why I chose the platforms I did).   I'm sure I can trim it to 30 with space for questions.   20's not out of the question if I focus on just the JS parts.   But longer's easier.

[2016-11-02 10:51] unixbigot commented on #155
Slides are on my website http://christopher.biggs.id.au/

[2016-11-02 11:10] mbaggott commented on #163
Sorry to bother you again @iamkevinv , but do you mind if this is recorded? We are doing a youtube series for the internship i am working at, and our camera expert has asked if she can come along and record?

[2016-11-03 00:39] KoryNunn commented on #152
Mine is unlinkable sorry, maybe one day.

[2016-11-03 01:37] iamkevinv commented on #163
BrisJS records everyone's talk for eventual youtube fame in our channel. You're welcome to bring your own entourage however if that's necessary. :-)

[2016-11-03 01:40] iamkevinv commented on #154
Okay cool. 20 mins + questions, usually becomes 30 minute per speaker anyway. Don't trim down too much - and yes, you're allowed to rely on the fact that a cross section of our audience will have seen your talk last month to cut down a bunch of intro. Sounds like everything will be great.

[2016-11-03 01:43] iamkevinv commented on #14
That also sounds good :)
And would be excellent for you to explain why people shouldn't be looking at cordova anymore in a slide somewhere too then.
Line up for dec? - assuming next monday would be rushing you to meet the Nov one.

[2016-11-03 02:00] rknell commented on #14
Yep, lets do it, ill start working on the slides this month

[2016-11-03 04:12] #146 closed

[2016-11-03 05:59] ChrisGrigg opened #164 "Startup projects from a tech perspective"
Recently I built a simple food diary, web app where the user take pictures of their food. This was done with the tech in the title. I can present my journey. I'm aware that there are 2 talks relating to Angular 2 on Ionic for Nov so not sure this is going to be different enough.

[2016-11-04 07:48] lukekhamilton commented on #162
Hey @AdamPD, have emailed you. I'm currently o/s so I can either call you or we can skype?

[2016-11-07 03:24] iamkevinv commented on #154
Don't stress too hard... you can take a bit longer to ensure you present things properly! We're not going to cut you off at the knees!

[2016-11-07 23:07] unixbigot commented on #154
Slides from my presentation are here: http://christopher.biggs.id.au/   (See also slides for the longer version presented at YOW Connected in Oct)

Info on where to get featured hardware here: http://blog.unixbigot.id.au/2016/09/iot-for-absolute-beginners.html

[2016-11-09 11:25] garrows commented on #152
https://github.com/garrows/js13k-2016

[2016-11-09 11:35] garrows commented on #149
My slides http://slides.com/glenarrowsmith/chat-bots#/
and the easy to follow facebook guide https://developers.facebook.com/docs/messenger-platform/guides/quick-start

[2016-11-17 00:03] thiagospassos opened #165 "Talk: Angular 2 Routing from 0 to Hero"
- setting up routing from scratch in an Angular 2 app
- navigating through routes
- child routes
- nested outlets
- parallel routes /  named outlets
- lazy loading routes
- securing routes

[2016-11-17 01:38] JasonGT opened #166 "Talk: Web Accessibility is for Everyone"
We just finished Microsoft Hack4Good Hackathon and learned quite a lot about building accessible websites. Depending on the available time, I'd like to talk about the following:

 - What we did at Hack4Good
 - Why web accessibility is for everyone
 - Designing and coding for accessibility
 - Testing for accessibility
 - Tools and resources

Thank you.

[2016-11-17 03:03] tomtomau commented on #166
I've always wanted to learn more about this! There's also a (now dormant) meetup group for it too: https://www.meetup.com/Brisbane-Web-Accessibility/

[2016-11-17 06:49] xwipeoutx commented on #166
Oh man this would have been useful 2 months ago.  We've had to go pretty crazy with accessibility on this current gig.  Not overly enjoyable, screen reading software seems to be pretty awful across the board (yeah, JAWS, I'm looking at you).

[2016-11-20 22:56] henrycjc opened #167 "Wanted: JS Developer"
*Dr Rob’s Experimentary* are looking for a full-stack JS developer with good experience developing SPAs in HTML/CSS/JS and backend HTTP APIs who is interested in part time work (5-10 hours per week) or a short-term contract 1-2 months. This is basically a green-fields project where the front-end and back-end exist only as a prototype which will now be rewritten “for real” as a top-quality, maintai

[2016-11-22 02:33] unixbigot opened #168 "Talk proposal: Control your home with HomeBridge and your iPhone"
Given that you have

   * Existing IoT devices (that aren't directly supported by apple HomeKit, almost nothing is so far)
   * A computer that runs NodeJS (eg a Raspberry Pi)
   * An iPhone or apple TV

How do you get to "Hey Siri, turn down the damn television"?

Well, once you've done 'npm install -g homebridge' and then npm-ized the right plugins, it's not much harder than this:

[code]

In 15

[2016-12-04 12:08] iamkevinv commented on #154
Thanks again :) marking as done and shared

[2016-12-04 12:08] #154 closed

[2016-12-04 12:09] iamkevinv commented on #163
Thanks again :) Got your slides to share @mbaggott ?

[2016-12-04 12:09] iamkevinv commented on #159
Thanks again :) Could you share your slides @duncanhunter ?

[2016-12-04 12:11] #161 closed

[2016-12-04 12:40] duncanhunter commented on #159
Thanks for having me :)

here is a link to the slides https://docs.google.com/presentation/d/19tJt0UQY2fJ5URqrL6VLiT9eYVdO4uoUUNPG9Vh8SAw/edit#slide=id.p14

[2016-12-04 12:49] iamkevinv commented on #164
HI @ChrisGrigg... Would certainly still like you to present your talk... Okay for Mon Dec 12? I'm going to announce the lineup ASAP.

[2016-12-04 12:51] iamkevinv commented on #165
Lets do it @thiagospassos! - We would certainly still like you to present your talk... Okay for Mon Dec 12? I'm going to announce the lineup ASAP.

[2016-12-04 12:53] iamkevinv commented on #166
We would very much like you to present your talk @JasonGT ... Okay for Mon Dec 12? I'm going to announce the lineup ASAP.

[2016-12-04 12:57] iamkevinv commented on #168
Nice. I did this recently and it was pretty easy. Would actually be good to know how to get into writing these plugins and getting new hardware controlled :)

[2016-12-04 13:00] iamkevinv commented on #168
@unixbigot If you're happy to do this talk Mon Dec 12? I'm going to announce the lineup ASAP.

[2016-12-04 13:02] iamkevinv commented on #124
This was opened in march. If no responses from @girvo on a firm presentation for Feb next year, we'll close this @AshKyd . Cheers.

[2016-12-04 13:22] iamkevinv commented on #14
Hi @rknell - I remembered you said you were working on this - howd you go? Were you still keen for Mon Dec 12? I'm going to announce the lineup ASAP and need to juggle a few talks around as everyone's keen :)

[2016-12-04 20:47] JasonGT commented on #166
Hi Kevin,

That's awesome but I will be out of town. Perhaps I can do January?

Regards,

Jason

Sent from my iPhone

On 4 Dec. 2016, at 10:54 pm, Kevin Vanderbeken <notifications@github.com<mailto:notifications@github.com>> wrote:

We would very much like you to present your talk @JasonGT<https://github.com/JasonGT> ... Okay for Mon Dec 12? I'm going to announce the lineup ASAP.

-
You are receiv

[2016-12-04 21:07] unixbigot commented on #168
I'm up for it @iamkevinv

[2016-12-04 22:22] thiagospassos commented on #165
Hey @iamkevinv, I'm in.

[2016-12-04 22:28] rknell commented on #14
Yep lets do it!

<http://www.snappy-apps.com.au>

On Sun, Dec 4, 2016 at 11:22 PM, Kevin Vanderbeken <notifications@github.com

[2016-12-04 22:28] rknell commented on #14
It would be something like first steps with react native - common pitfalls
and what you need to know

<http://www.snappy-apps.com.au>

On Sun, Dec 4, 2016 at 11:22 PM, Kevin Vanderbeken <notifications@github.com

[2016-12-05 01:29] iamkevinv commented on #14
I think that would be appreciated by all :)
Probably also explain why Cordova is kind of going the way of the dodo...

[2016-12-05 01:30] rknell commented on #14
No worries, I will give some background about how I ended up here.

<http://www.snappy-apps.com.au>

On Mon, Dec 5, 2016 at 11:29 AM, Kevin Vanderbeken <notifications@github.com

[2016-12-05 01:31] iamkevinv commented on #166
The first meetup will be the first monday of Feb. So i'm happy to lock you in for that :) - We can open up the year with a bang!

[2016-12-05 01:32] iamkevinv commented on #164
We will have #165 on in dec too so it would probably complement that well.

[2016-12-05 03:21] mbaggott commented on #163
No worries @iamkevinv , thanks for having me. I'll upload the pdf, let me know if you would like them in some other format.

[MichaelBaggott_Ionic & Cloud9.pdf](https://github.com/BrisJS/meetups/files/630071/MichaelBaggott_Ionic.Cloud9.pdf)

[2016-12-05 04:18] thiagospassos commented on #165
Hey @iamkevinv just so I can prepare for the talk, what's the length of it? cheers

[2016-12-05 10:29] matt-way opened #169 "Talk: Machine Vision / AI in Electron"
Hey all,

So we've been using electron to do all our AI experiments this year (working on new machine vision algorithms). Would be keen to share a few little things, explain the state of machine vision, find out if anyone else is interested in the AI space.

[2016-12-05 22:47] garrows commented on #169
@matt-way I'm very interested 💯

[2016-12-05 23:25] iamkevinv commented on #169
This is very cool... but i think we might be booked solid for next monday... i'm doing the announcements today... was it for a 20 min or 40 min slot?

[2016-12-05 23:26] iamkevinv commented on #164
I'm doing the announcements today - is this confirmed? else i have someone waiting to jump in... was it for a 20 min or 40 min slot?

[2016-12-05 23:27] iamkevinv commented on #168
I'm doing the announcements today, there's been a lot of interest for dec speaking... was it for a 20 min or 40 min slot?

[2016-12-05 23:27] iamkevinv commented on #165
I'm doing the announcements today, there's been a lot of interest for dec speaking... I was actually going to ask you that question...was it for a 20 min or 40 min slot?

[2016-12-05 23:28] iamkevinv commented on #14
I'm doing the announcements today, there's been a lot of interest for dec speaking... was it for a 20 min or 40 min slot?

[2016-12-05 23:29] rknell commented on #14
Just 20 is fine

<http://www.snappy-apps.com.au>

On Tue, Dec 6, 2016 at 9:28 AM, Kevin Vanderbeken <notifications@github.com>
wrote:

[2016-12-05 23:29] matt-way commented on #169
I could do as short or as long as the space permits.

[2016-12-05 23:30] thiagospassos commented on #165
I can do either, @iamkevinv, but to be able to deliver the whole thing it would need to be the 40min slot.

[2016-12-05 23:36] unixbigot commented on #168
20min please

[2016-12-06 11:54] iamkevinv commented on #169
okay i'm going to try and squeeze in 4 talks this month :)

[2016-12-06 12:20] iamkevinv commented on #165
Okay lets get you into almost 40 then... we're packing in the talks this monday, but by putting you up first before pizza and intermission, we should be able to give you about 30ish to speak, and breathing room for 10 mins of questions. Sound good?

[2016-12-06 12:23] thiagospassos commented on #165
@iamkevinv sounds great, looking forward for it :)

[2016-12-06 12:25] iamkevinv commented on #169
Lets get you our usual 15 talk + 5min of questions aka the 20 min slot - cool?

[2016-12-06 12:27] iamkevinv commented on #164
Sorry to do this @ChrisGrigg but i couldn't confirm you for the announcement so i'll have to pop you into the next meetup instead. The project sounds great so i'd really encourage you to present it at the first BrisJS of the year... currently scheduled for first monday of Feb. I'll move the project milestone to suit.

[2016-12-06 13:31] matt-way commented on #169
Yeah, that's fine. Thanks.

[2016-12-09 01:00] ChrisGrigg commented on #164
Hi @iamkevinv no problem sorry for my delayed reply. Feb is fine :) I may change the title to something like "My startup journey - from front end to full stack developer" as there are lots of pure tech talks on Angular 2 already.

[2016-12-13 01:30] dylanhb opened #170 "Wanted: [Jobs/Volunteering] Mentor"
![thelab_logo_a2_turqonwhite_small](https://cloud.githubusercontent.com/assets/8305487/21123799/a0343170-c126-11e6-9f84-1ef2009f53a3.png)

**What is it?**
The Lab is a technology club for young people with Asperger’s Syndrome or High-Functioning Autism. It offers a safe social environment and mentoring by technology professionals in areas such as programming, digital design and gaming. At each wee

[2016-12-13 03:17] #156 closed

[2016-12-19 22:04] johncmckim opened #171 "Talk: Building an Alexa Skill with Node + Lambda"
At AWS re:Invent this year we entered the re:Invent Alexa skill contest. We built a version of chaos monkey that allows you to start and stop servers on the Amazon Echo. It's all up on [hackseter.io](https://www.hackster.io/a-cloud-guru/alexa-chaos-monkey-280d79).

Building an Alexa skill is actually pretty easy to do. I was thinking I could walk through building a skill that allowed you to ask Al

[2017-01-08 23:58] jwulf commented on #27
What about Rollcall? P2P WebRTC audio: https://github.com/mikeal/roll-call

[2017-01-09 00:04] jwulf opened #172 "Building internationalized applications using React, Redux, TypeScript and Electron"
For the first week of January 2017 I didn't sleep, and did 267 commits to the new Magikcraft spellbook.

In a whirlwind week we converted it from Webpack to Browserify, wrote a custom module loader for Microsoft's Monaco editor, and contributed four patches to upstream packages.

In this talk I'll be sharing lessons from the journey, including how we had it localised into nine languages within hal

[2017-01-10 00:14] JasonGT commented on #166
Thanks for the opportunity however I decided not to run this talk. I'll be focusing on other areas this year and won't have time. Thanks again and all the best.

[2017-01-10 00:14] #166 closed

[2017-01-14 03:20] iamkevinv commented on #166
Sorry to hear we're missing out @JasonGT - if you get a chance... let us know, we'd be happy to host you :)

[2017-01-18 00:27] JasonGT commented on #166
Thanks Kevin - I'll keep it in mind and try to figure out something around JS with .NET Core. :)

[2017-01-23 23:38] jwulf commented on #124
Yo @girvo would love to hear this talk - you going to give it?

[2017-01-23 23:39] jwulf commented on #167
@henrycjc is this still open?

[2017-01-23 23:44] jwulf commented on #114
@iamkevinv still open?

[2017-01-23 23:45] jwulf commented on #113
Be Awesome, and Make Others Feel Awesome.

[2017-01-31 00:07] henrycjc commented on #167
@jwulf Closing off now.

[2017-01-31 00:07] #167 closed

[2017-01-31 11:25] iamkevinv commented on #171
This would be awesome @johncmckim!
Are you okay to present this at the meetup this coming monday? Please let me know if you need a 20min or a 40 min slot.

[2017-01-31 11:26] iamkevinv commented on #172
LETS DO THIS @jwulf :-D
Good for the next monday meetup?
Do you need a 20 min or 40 minute slot?

[2017-01-31 11:28] #163 closed

[2017-01-31 11:28] #159 closed

[2017-01-31 11:32] iamkevinv commented on #114
Updated jwulf. Not at the moment... but there will be another round for sure!

[2017-01-31 11:33] iamkevinv commented on #157
All sorted now @csinge ?

[2017-01-31 11:34] iamkevinv commented on #162
Hey @AdamPD - Still needed? Otherwise feel free to close :)

[2017-01-31 11:35] iamkevinv commented on #14
If you have any links to share @rknell - please do! thanks again

[2017-01-31 11:36] lukekhamilton commented on #162
I don't think so as he never got back to me about it. #slack

[2017-01-31 11:37] iamkevinv commented on #169
Hey @matt-way - if you have any links to share here... please do :)

[2017-01-31 11:37] iamkevinv commented on #168
Hey @unixbigot - if you have any links to share here... please do :)

[2017-01-31 11:37] iamkevinv commented on #165
Hey @thiagospassos - if you have any links to share here... please do :)

[2017-01-31 11:39] iamkevinv commented on #124
Doesn't seem like it @jwulf - Closing it. Anyone can re-open if they want to present something similar. Thanks to all involved!

[2017-01-31 11:39] #124 closed

[2017-01-31 11:40] iamkevinv commented on #164
Hi @ChrisGrigg - Can i still confirm you for next monday's BrisJS? I'd like to put the announcement email out since we're really running late with it. Would you require a 40min or 20 min slot?

[2017-01-31 19:49] johncmckim commented on #171
I'm going to be in Melbourne this Monday unfortunately. But I'd be happy to present at the following Meetup.

[2017-01-31 20:40] thiagospassos commented on #165
Here's the GitHub link with the source code of the demo: bit.ly/ng2-routing-brisjs

[2017-01-31 22:13] csinge commented on #157
this.close();

[2017-01-31 23:24] #157 closed

[2017-01-31 23:55] unixbigot commented on #168
Slides are here:  http://christopher.biggs.id.au   and see also my recent presentation on IoT security
on the same page

Detailed links:
  *  slides http://christopher.biggs.id.au/presentations/homebridge/
  * iot security slides http://christopher.biggs.id.au/presentations/iot-scary/index.html
  * iot security video http://youtu.be/qKJz4aPubNI

Finally my IoT series on Medium will soon have a pos

[2017-02-01 01:13] iamkevinv commented on #165
Thanks!

[2017-02-01 01:13] #165 closed

[2017-02-01 01:13] iamkevinv commented on #168
Thanks!!

[2017-02-01 01:13] #168 closed

[2017-02-01 01:27] iamkevinv commented on #171
Drat! Okay mate, thanks heaps for letting me know so quickly too. 👍
Moving you to march.

[2017-02-01 04:27] ChrisGrigg commented on #164
Hi Kevin, yep happy to do it. Whilst doing the presentation I've thought
this title isn't suitable so have changed it quite alot to talk more just
about experiences of starting a startup in the ideation phase as a tech
person. A 20 min slot will be fine. I'll confirm the title tonight. Thanks

On Tue, 31 Jan 2017, 21:40 Kevin Vanderbeken, <notifications@github.com>
wrote:

[2017-02-02 05:40] iamkevinv opened #173 "⚡️ Talk: Node Debugging Revisited"
@garrows has a talk to contribute:
Node now ships with V8 Inspector integrations so you can use the Chrome DevTools. We will cover some basic debugging, logging, performance debugging with flame graphs and more.

[2017-02-02 06:34] iamkevinv commented on #172
@jwulf has let me know:

Magikcraft devs Tim Marwick and Ian Daniel (and possibly Chris Briggs as well) can tag team it. They can tell you more about exactly what they are going to cover, but it's going to be something along these lines:

An overview of our React / Redux / TypeScript / Websocket stack and lessons learned putting it together; some discussion around "To go Electron or not, what's in

[2017-02-06 03:26] ChrisGrigg commented on #164
Hi the title will now be "Startup projects from a tech perspective". Hope that's still suitable for BrisJS!

[2017-02-07 04:07] 99M8 opened #174 "Talk: Design Patterns (OOP) and Scaling in JS"
* Flyweight Design Pattern (DP).
* Proxy DP.
* Other DPs.
* Performance of different DPs.
* "Best" DP for scalability.

[2017-02-19 21:19] garrows commented on #173
Slides can be found here
http://slides.com/glenarrowsmith/deck-10#/

[2017-02-19 21:19] #173 closed

[2017-02-26 12:38] samousavih opened #175 "Scaffolding JS stacks using Yeoman, Cloud 66, Docker and push it to Cloud"
This is a talk about how fast we can build up most JS stacks using Yeoman, utilise Docker, choose the cloud provider we like and orchestrate our containers using Cloud 66.

[2017-02-26 12:47] iamkevinv commented on #172
Any you links you have to share would be great

[2017-02-26 12:48] iamkevinv commented on #164
Any resources you could link here would be appreciated :-)

[2017-02-26 13:23] iamkevinv commented on #174
Sounds interesting! Can you make it for the first Monday in march BrisJS? Would you need 20 min or 40 min to present?

[2017-02-26 13:24] iamkevinv commented on #175
Cool talk idea, Can you make it for the first Monday in march BrisJS? Would you need 20 min or 40 min to present?

[2017-02-26 13:26] iamkevinv commented on #171
We're you still interested in presenting next week? Would this be a 20min or 40min slot?

[2017-02-26 22:46] johncmckim commented on #171
Yep. Let's do it. Happy to do either 20 or 40 mins. If I've got 40 minutes I can go into some code and examples which would be good.

[2017-02-26 22:48] Blizzard7 opened #176 "Talk: Introduction to Angular 2"
This is a talk about introducing people to Angular 2. The core concepts of Angular 2 ( module, component, service, router and dependency injection) will be introduced and demonstrated via a simple demo app.

[2017-02-27 05:20] AnnaGerber opened #177 "Talk: 'Serverless' Express"
The aws-serverless-express library enables you to build web services with Node.js and Express and run them as AWS Lambda functions delivered through the Amazon API Gateway. This talk will step through how to use this library to develop a simple API backed by DyamoDB, and how to deploy it to AWS via CloudFormation.

[2017-02-27 09:33] samousavih commented on #175
Hey Kevin
It should be OK for a 20 minutes talk,
If you have some templates for the slides please send that through, or any content that might be helpful.

[2017-02-28 00:33] samousavih commented on #177
Ah cool, would be interested in that topic

[2017-03-01 02:47] iamkevinv commented on #177
20 Mins @AnnaGerber ?

[2017-03-01 02:48] iamkevinv commented on #175
@samousavih Can you confirm for the next meetup? 20 min okay?

[2017-03-01 02:48] iamkevinv commented on #174
@ElizavetaKonovalova can you confirm for the next meetup? 20 min talk time okay?

[2017-03-01 02:49] iamkevinv commented on #176
Sounds good, but we might be closed for the March Event... have popped you into April. Would you be available for either depending on cancellations?

[2017-03-01 02:50] #162 closed

[2017-03-01 02:51] #14 closed

[2017-03-01 02:51] #172 closed

[2017-03-01 02:51] #169 closed

[2017-03-01 02:51] #164 closed

[2017-03-01 02:53] iamkevinv commented on #171
Okay we can give you that slot since nobody claimed it :) 40 minutes, up first before pizza.

[2017-03-01 02:59] AnnaGerber commented on #177
Yep, 20 mins is fine

[2017-03-01 03:00] iamkevinv commented on #174
@ElizavetaKonovalova - We're desperately late to confirm the lineup of speakers to the audience so i need an answer ASAP, else will need to move you to next month. Thanks!

[2017-03-01 03:01] iamkevinv commented on #175
@samousavih - We're desperately late to confirm the lineup of speakers to the audience so i need an answer ASAP, else will need to move you to next month. Thanks!

[2017-03-01 03:23] johncmckim commented on #171
Perfect. Looking forward to it.

[2017-03-01 04:11] KoryNunn opened #178 "Talk: Less is more. Writing software the unpopular way."
I'd like to talk about the other way to write software, the one where you don't use frameworks, build processes, or install a million libraries.

There are pro's n' con's to both, and I think they would be good to discuss.

[2017-03-01 04:44] iamkevinv commented on #178
Target month? Time length?

[2017-03-01 05:11] iamkevinv commented on #178
Kory said March or following, and standard 20min block.

[2017-03-01 11:31] liammclennan opened #179 "Talk: Promises for beginners"
People are using promises, mostly successfully, which is good, but sometimes we may not entirely understand what they are, how they work, or how we should use them.

I'd like to explore promises in detail from first principles, focusing on how to use them successfully and some anti-patterns to avoid.

[2017-03-01 11:36] liammclennan opened #180 "Talk: Simplifying user interface programming"
in which we build [this sweet car game](https://codepen.io/liammclennan/pen/RogMdX?editors=0010).

Thoughts on simplifying user interface programming, with examples in React and Redux.

This is my talk from dddbrisbane, so some may have seen it.

[2017-03-01 12:57] iamkevinv commented on #174
Sorry @ElizavetaKonovalova since i can't get a confirm at this point - i need to bump this talk to next month so we can get others in and make the announcement. I look forward to your presentation then :)

[2017-03-01 12:58] iamkevinv commented on #175
Sorry @samousavih since i can't get a confirm at this point - i need to bump this talk to next month so we can get others in and make the announcement. I look forward to your presentation then :-)

[2017-03-01 14:01] iamkevinv commented on #174
I just read your answer on the RSVP... i'm assuming now that this is a talk request, rather than volunteering a talk as i thought it was?

[2017-03-01 14:03] iamkevinv commented on #179
Sounds great :) Thanks for volunteering.

[2017-03-01 14:21] iamkevinv commented on #177
You're locked in.

[2017-03-01 14:21] iamkevinv commented on #178
You're locked in.

[2017-03-02 02:56] Blizzard7 commented on #176
Hi Kevin,
April sounds good to me.  Sorry, I won't be able to fill in March in case of cancellations.

[2017-03-03 00:35] iamkevinv commented on #179
Is this a 20 minute long or 40 minute long session?

[2017-03-03 00:35] iamkevinv commented on #180
Is this a 20 minute long or 40 minute long session?

[2017-03-03 00:36] iamkevinv opened #181 "Talk: State Mutation considered harmful: Pure Function Master Race (Functional Programming)"

[2017-03-03 00:37] iamkevinv opened #182 "Talk: Graphql with Relay.js"

[2017-03-03 00:38] iamkevinv opened #183 "Can someone talk about: (Node + Express) + React vs Angular?"

[2017-03-03 00:38] iamkevinv opened #184 "Talk: Redux"

[2017-03-03 00:39] iamkevinv opened #185 "Talk: Introduction to React Native"

[2017-03-03 00:39] iamkevinv opened #186 "Can someone talk about: Three JS?"

[2017-03-03 00:40] iamkevinv opened #187 "Can someone talk about: Practical D3?"

[2017-03-03 00:40] iamkevinv opened #188 "Can someone talk about: Testing Frameworks and Bots?"

[2017-03-03 00:42] liammclennan commented on #180
Could do either. 20 will probably do.

On 3 Mar 2017 10:35, "Kevin Vanderbeken" <notifications@github.com> wrote:

[2017-03-05 17:24] errisy commented on #128
Interesting, big data jobs are still higher valued. Where are the machine learnings?

[2017-03-06 08:45] joshduck commented on #182
I worked with the Relay.js team for a while. I'd be happy to talk about that framework.

[2017-03-06 12:29] jwulf commented on #179
Can the talk also cover the intersection of Promises and righto [0]?

[0] https://github.com/KoryNunn/righto

[2017-03-06 12:31] jwulf commented on #181
I could give this talk, but it would be titled: "State Mutation considered harmful: Functionally Pure Master Race."

[2017-03-07 00:04] fud commented on #171
@johncmckim what was that VS Code theme. I was also curious.

[2017-03-07 00:19] johncmckim commented on #171
@fud @jwulf here you go. Don't ask me how to install them though I can't remember hahah.

[code]

[2017-03-08 01:13] liammclennan commented on #184
I can do this one as long as it is the same day as the promises one.

[2017-03-09 02:00] matt-way opened #189 "Talk: publishthis.email - The fastest way to create a website...by email"
We just released a really simple product that people seem interested in, and figured the stack might warrant a talk. We use SES->S3->Lambda->Dynamo to convert any email sent to a particular address into a webpage.

You can check it out [here](http://publishthis.email).

[2017-03-14 00:58] AshKyd opened #190 "WebAssembly 101"
A new toy, woohoo!

WebAssembly has landed in Firefox and Chrome behind flags with Edge to follow shortly, so let's get started by learning what is it, why we need it, how it works, and how to get a head start coding today.

[2017-03-16 12:35] deecewan commented on #188
Front end? Back end?

Bots as in github bots? Testing frameworks as in online test runners (CI Platform), or package used to write tests with?

[2017-03-16 12:36] deecewan commented on #184
I can do this one. Probably don't need promises to do it either, if you like.

[2017-03-17 10:01] AshKyd commented on #190
Can do a 40 min slot

[2017-03-20 01:32] jwulf commented on #190
Awesome! Totes looking forward to this.

[2017-03-20 01:33] jwulf commented on #181
April 3?

[2017-03-20 01:34] jwulf commented on #181
I can talk about Functional Programming versus Imperative and Objective. Benefits of Functional Programming, some patterns of functional programming in JavaScript, and drawbacks - with some examples of when to use functional and when to not use it.

[2017-03-22 01:20] iamkevinv commented on #188
I think the requestor's intention was including both the writing and the running, but the emphasis here i would assume to be the writing of tests, and a test running/github watching bot.

[2017-03-22 01:22] iamkevinv commented on #171
Any links you can share @johncmckim would be great.

[2017-03-22 01:22] iamkevinv commented on #177
Any links you can share @AnnaGerber would be great.

[2017-03-22 01:22] iamkevinv commented on #178
Any links you can share @KoryNunn would be great.

[2017-03-22 01:25] KoryNunn commented on #178
Sure.

"Slides": korynunn.github.io/jfwc
We side-tracked into Promises: https://github.com/korynunn/righto-v-promise

[2017-03-22 01:27] iamkevinv commented on #182
@joshduck That would be cool mate... i see that it's not purely GraphQL (specifies a react ecosystem) but i think that would still help out a lot. Keep the focus on what GraphQL is about, but the added bonus of a library meshing well with react is handy for people using that indeed.

[2017-03-22 01:29] iamkevinv commented on #181
Hey @jwulf - yes i'm trying to work out who is most ready for April so if that's the one you're keen for i'll throw you into the hat. The synopsis sounds cool, but i'll probably have to shorten your title for the email hehe.

[2017-03-22 03:57] jwulf commented on #181
Awesome, cool. Look forward to it.

[2017-03-23 01:44] iamkevinv commented on #114
It's on again 👍
Come join an awesome team doing great stuff in the JavaScript API

[2017-03-23 05:55] jwulf commented on #181
Functional programming is the One True Way(tm) to code - except when it's not. In this talk we'll look at functional programming in JavaScript, with some use cases and considerations. We're not going to do Monads and Endofunctors, grow a beard, and write a parser, but we will cover some practical use cases in JavaScript.

[2017-03-23 06:01] MrCeleryman commented on #185
I did an introduction to React Native talk for the ReactJS meetup the other day, happy to update it or do another similar talk about React Native

[2017-03-25 03:33] AnnaGerber commented on #177
Slides are here: https://www.slideshare.net/annagerber/serverless-express

[2017-03-27 05:47] KoryNunn opened #191 "Talk: Blocking JS, the Event Loop, and Async"
More of a beginner/intermediate topic about how JS does async if it cant do async.

Only if people think it's a worthwile talk.

[2017-03-28 04:37] #178 closed

[2017-03-28 04:37] #177 closed

[2017-03-28 04:37] #171 closed

[2017-03-28 04:49] iamkevinv commented on #185
We'd love to hear your talk! Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) April 3rd
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything

[2017-03-28 04:50] iamkevinv commented on #191
We'd love to hear your talk! Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) April 3rd
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything

[2017-03-28 04:51] iamkevinv commented on #189
We'd love to hear your talk! Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) April 3rd
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything

[2017-03-28 04:52] iamkevinv commented on #184
Well, if Liam is taken up with another one, we can spread it out a bit and give David a chance.
Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) April 3rd
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute present

[2017-03-28 04:55] iamkevinv commented on #181
Okay we already have seen you be very active here so we'll make sure to include you for April.

Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Thanks!

[2017-03-28 04:56] iamkevinv commented on #182
We'd love to hear your talk! Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) April 3rd
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything

[2017-03-28 04:57] deecewan commented on #184
i guess it depends on how much depth you want, and in what context.

I could probably get it done in twenty minutes.  May 1st would be better, i think.  Not much time left before the April 3rd event.

[2017-03-28 04:57] KoryNunn commented on #191
2017-4-3 or 2017-5-1 are fine, but I'll need to be not-first, so that Em can come grab Hnery from me.

I'd think 20 mins should be enough.

[2017-03-28 05:01] iamkevinv commented on #180
Since you answered the time bracket question on this one first (of your other submissions...) are you prepared to talk about this one for April 3rd? Please confirm asap. Thanks.

[2017-03-28 05:02] MrCeleryman commented on #185
Free both nights but would prefer the 1st of May if that is ok.
And I will only need a 20 min presentation block

[2017-03-28 05:02] iamkevinv commented on #179
Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) April 3rd
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything else that might be required.

[2017-03-28 05:05] iamkevinv commented on #176
Are you still confirmed for the April 3rd Event?
Are you OK with one of the two 20 minute presentation blocks?

Let me know anything else that might be required. Need this confirmed ASAP

Thanks!

[2017-03-28 05:07] iamkevinv commented on #179
Oops! the 40 min April slot is now gone. Okay with a 20?

[2017-03-28 05:09] iamkevinv commented on #179
We're pretty swamped with volunteer (which is SO great!), so i have to move you over to the May meetup.

[2017-03-28 05:10] iamkevinv commented on #191
The 20 min presentations start after the networking and food break so sounds good.

[2017-03-28 05:10] iamkevinv commented on #191
We're pretty swamped with volunteer (which is SO great!), so i have to move you over to the May meetup.

[2017-03-28 05:10] iamkevinv commented on #182
We're pretty swamped with volunteer (which is SO great!), so i have to move you over to the May meetup.

[2017-03-28 05:11] Blizzard7 commented on #176
Sorry Kevin. I can't make it this month.

[2017-03-28 05:11] iamkevinv commented on #189
We're pretty swamped with volunteers (which is SO great!), so i have to move you over to the May meetup.

[2017-03-28 05:12] KoryNunn commented on #191
ok np

[2017-03-28 05:12] iamkevinv commented on #176
No problem... i'll move you over to May for re-scheduling.

[2017-03-28 05:12] iamkevinv commented on #176
Can you confirm talk length in advance?

[2017-03-28 05:13] iamkevinv commented on #185
Great. I'll update the month milestone.

[2017-03-28 05:14] iamkevinv commented on #184
Whatever you'd like :-) lets go with 20 min then, and re-schedule you with the rest in May. Thanks!

[2017-03-28 05:15] iamkevinv commented on #175
We'd love to hear your talk! Just to get scheduling right, we need to know a few things...

1. Are you available to present at the May meetup?
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything else that might be required. Confirming the above will make sure we put you into

[2017-03-28 05:17] iamkevinv commented on #174
If you're volunteering a talk @ElizavetaKonovalova - Just to get scheduling right, we need to know a few things...

1. Are you available for:
- [ ] (b) May 1st

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything else that might be required. Confirming the above will make sure we put you into o

[2017-03-28 05:28] Blizzard7 commented on #176
I will be able to do that in 20 minutes.

[2017-03-28 05:30] matt-way commented on #189
Cool, May is fine. I'm sure 20mins would be plenty (don't want to bore people).

[2017-03-28 06:20] joshduck commented on #182
I'd like a 40 minute slot; I can give a good overview of GraphQL and how local storage of data works in Relay/other GraphQL frameworks.

May 1st is a public holiday. Are you planning on bumping the meetup?

[2017-03-28 13:59] iamkevinv commented on #182
Good catch! Yes the following Monday - I'll update everything to reflect that tomorrow

[2017-03-29 01:10] liammclennan commented on #180
Yes, I can do this on the 3rd. I did the same presentation at the React group a couple of weeks ago - not sure how much the groups overlap.

[2017-03-29 01:11] liammclennan commented on #179
Could only do this one in May. 20 mins is cool.

[2017-03-29 06:45] maraisr commented on #190
If you give examples using Rust - I'll attend!

[2017-03-29 07:12] AshKyd commented on #190
@maraisr Done! I've got a bit of Rust and a bit of C, though I'm not super advanced with either so be warned the talk will reflect that. :)

[2017-03-29 07:25] maraisr commented on #190
@AshKyd maybe this could be some use maybe - its cpp but could quite easily be done with Rust. https://github.com/maraisr/webasm-test and maybe even https://mbebenita.github.io/WasmExplorer/

[2017-03-29 07:30] unixbigot opened #192 "Talk: Internet of Javascript Things - Automate your life with MongooseOS and mJS"
# What's the problem?

The Internet of Things (IoT) is the third computing revolution, the story so far being

1. Personal computing
1. Cloud computing
1. and now Ubiquitous computing (IoT)

The **most annoying** challenges in the Internet of Things (IoT) are connecting Things to the cloud safely, managing your Things, and updating them.

# What's the solution?

Mongoose-OS is the new hotness that

[2017-03-29 20:54] garrows commented on #113
How about:
Be excellent to each other and party on dudes.
![coc](https://media.giphy.com/media/POekkUcKs16gg/giphy.gif)

Where will you publish our COC?

[2017-03-29 21:51] jwulf commented on #181
Looks like Ash is doing the 40 min slot, so I'll take a 20 min slot

[2017-03-30 03:35] iamkevinv commented on #180
No idea, but should be good :) Confirmed!

[2017-03-30 03:59] iamkevinv commented on #192
I always love these.... can't wait to see it. Require 40 or 20 mins?
We have a massively packed schedule now... so i can't guarantee if it's May or June meetup. Going to have to look into doing more of these, more actively now that we have more talk submissions. :)

[2017-03-30 12:24] MrCeleryman commented on #185
Just had a look at the Milestones and April looks pretty bare compared to May. If you are desperate fro speakers for the next meetup I can do it then If it is convenient

[2017-04-03 03:30] iamkevinv opened #193 "Can you talk about: Type safety?"

[2017-04-03 03:30] iamkevinv opened #194 "Can you talk about: Hybrid App Development?"

[2017-04-03 07:40] eunicehoxl opened #195 "Could you create a prototype solution in 54 hours?"
Hi! Just like to let you know of an upcoming hackathon at River City Labs this 21-23 April, [Unearthed Brisbane](http://unearthed.link/UEBRIS_17). The event needs people like you to come up with tech prototypes! It will feature challenges from Origin Energy and is a fully catered event. Enter code "UnearthedCommunity" at checkout to get $10 off your ticket. Hope to see you then!

Cheers,
Eunice

[2017-04-03 23:58] AshKyd commented on #190
Hey folks, my slides from WebAssembly 101 are here:

https://wasm-brisjs.talks.ash.ms/

I don't have the demos available because I foolishly didn't push them up and my PC is out of commission.

Some useful links from the presentation include:

* The webassembly site - http://webassembly.org/
* A cartoon intro to webassembly - https://hacks.mozilla.org/2017/02/a-cartoon-intro-to-webassembly/
* Wasm

[2017-04-04 00:18] maraisr commented on #190
@AshKyd thanks for delivering! Lets be honest @idooo - wasm isn't that bad...

[2017-04-05 21:26] liammclennan commented on #179
@iamkevinv can you please take me off the schedule for May? Seems like there is plenty of content around.

[2017-04-12 02:29] AshKyd opened #196 "Frontend Digital Developer - ABC News"
[![ABC News](https://i.imgur.com/kFvSmxe.png)](http://www.abc.net.au/news/)

[ABC News](http://www.abc.net.au/news/) is looking for a frontend developer to join the team. You'd be working on projects with other content makers to ensure news stories are presented to the audience to best effect online.

It's a cool environment, great team. We don't have a job ad up anywhere, but if you're interested

[2017-04-13 07:29] iamkevinv opened #197 "Node.js (API/Fullstack) Developer Positions @ Console Connect"
## Code in JS, Revolutionise the internet!

TLDR: Check out this incredible Node.JS API developer position: http://grnh.se/vg7tqf1 (all positions advertised on our greenhouse board).

Definitely one of the best opportunities around to join our great growing team, with a Silicon Valley & Brisbane based company, which retains its startup culture and passion for creating an incredible new internet se

[2017-04-13 07:30] iamkevinv commented on #114
Pinned out a new issue #197 for this instead, so closing this one :) The positions are still there... check out the links!

[2017-04-13 07:30] #114 closed

[2017-04-18 23:00] #176 closed

[2017-04-18 23:03] Blizzard7 commented on #176
Too busy with life at the moment. Not sure when I will be able to do that.

[2017-04-25 04:33] triyuga opened #198 "Talk: Building an ExpressJS + GraphQL Server"
_Don't worry, it's an elegant idea, for a more civilised age_  -- [@rbzhu](https://twitter.com/rbzhu) [#graphql](https://twitter.com/hashtag/GraphQL?src=hash)

What is [GraphQL](http://graphql.org/) & why is it cool?

Getting started quickly with **Express + GraphQL ([express-graphql](https://github.com/graphql/express-graphql))**.

Example: **Schema + Resolver + [pluggable] Provider** architectur

[2017-04-25 05:50] triyuga commented on #198
<img width="1152" alt="screen shot 2017-04-25 at 3 48 58 pm" src="https://cloud.githubusercontent.com/assets/2193454/25370535/c909c77a-29ce-11e7-888f-51d1d2043769.png">

http://graphql.org page provides good overview inc informative animations,

[2017-04-25 21:05] #197 closed

[2017-04-26 10:48] AshKyd commented on #195
Thanks @eunicehoxl, how was the event? Got anything to show off?

[2017-04-26 10:48] #195 closed

[2017-04-27 01:57] eunicehoxl commented on #195
Hi Ash,

The event went well - thanks! You can check out the prototype solutions here. <https://portal.unearthed.solutions/competitions/unearthed-brisbane-2017/submissions>

Cheers,
Eunice

Eunice Ho  |  Event Coordinator  |  Unearthed
+61 404 449 491 |  eunice@unearthed.solutions

[2017-04-28 08:36] ohiaia opened #199 "async and await in Javascript VS promises VS callback"
When to use one or the other... and why ...

[2017-04-29 13:49] AshKyd commented on #180
Thanks for the awesome talk @liammclennan. Do you have a link to your slides you could share?

[2017-04-29 13:51] AshKyd commented on #181
Thanks for the talk @jwulf, you do know how to please the crowd! I realise you don't have any slides, but do you have a link to any resources you wanted to share?

[2017-04-29 14:00] AshKyd commented on #185
Hey @MrCeleryman, just wanted to confirm you're good to go for the 20 min talk on May 8th (the 1st is a public holiday so the meetup falls on the next Monday) :)

[2017-05-01 10:03] liammclennan commented on #180
Thanks for having me Ash. I didn't really show any slides - just the pong
game on codepen http://codepen.io/liammclennan/pen/GWyBxq?editors=0110

Liam.

On Sat, Apr 29, 2017 at 11:49 PM, Ash Kyd <notifications@github.com> wrote:

--
Liam McLennan.

liam@eclipsewebsolutions.com.au
http://www.eclipsewebsolutions.com.au

[2017-05-02 09:49] MrCeleryman commented on #185
@AshKyd  Yep happy too if there is still a slot available (should only need a small one)

[2017-05-02 12:25] iamkevinv commented on #185
HDMI :)

[2017-05-02 13:04] iamkevinv commented on #174
Hi! Kevin again - Just trying to get in touch to see if we can organise your talk for the meetups. Let me know if you get these messages? Thanks :)

[2017-05-02 13:04] iamkevinv commented on #174
ping @ElizavetaKonovalova :)

[2017-05-02 13:11] iamkevinv commented on #175
Hi @samousavih - was trying to get your info about talk availability. If you're getting this... please let me know :-) - Kev.

[2017-05-02 13:19] iamkevinv commented on #192
Just to get scheduling right, we need to know a few things...

1. Are you available for:
- [ ] (a) May 8th
- [ ] (b) June 5th

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything else that might be required. Confirming the above will make sure we put you into one of the upcoming nights.

Thanks

[2017-05-02 13:24] iamkevinv commented on #199
@ohiaia - Just to get scheduling right, we need to know a few things...

1. Are you available for either or both of:
- [ ] (a) May 8th
- [ ] (b) June 5th

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me know anything else that might be required. Confirming the above will make sure we put you into one of

[2017-05-02 13:27] iamkevinv commented on #191
Yo @KoryNunn,

1. Since the date moved... are you available for either or both of:
- [ ] (a) May 8th
- [ ] (b) June 5th

Thanks!

[2017-05-02 13:28] KoryNunn commented on #191
Can do 8th not sure on 5th

[2017-05-02 13:29] iamkevinv commented on #189
Hey @matt-way,

Since the date moved... are you available for either or both of:
- [ ] (a) May 8th
- [ ] (b) June 5th

Thanks!

[2017-05-02 13:31] iamkevinv commented on #184
Hey @deecewan,

Since the date moved... are you available for either or both of:
- [ ] (a) May 8th
- [ ] (b) June 5th

Thanks!

[2017-05-02 13:34] iamkevinv commented on #182
Hey @joshduck,

Since the date moved now... are you available for either or both of:
- [ ] (a) May 8th
- [ ] (b) June 5th

Can i confirm you for either one if you're ready?

Thanks!

[2017-05-02 13:38] iamkevinv commented on #179
Sure @liammclennan...
Since the date moved to May 8th... are you available for June 5th? Would you like to be locked in for that? - Thanks!

[2017-05-02 13:49] iamkevinv commented on #198
@triyuga - We'd love to hear your talk! Just to get scheduling right, we need to know a few things...

1. Dates you're available to present, in case one of the nights is full. (If both, please let me know that too):
- [ ] (a) May 8th
- [ ] (b) June 5th

2. Do you require the 40min presentation block, or one of the other two 20 minute presentation blocks?
- [ ] (a) 40min
- [ ] (b) 20min

Let me kno

[2017-05-02 14:01] iamkevinv commented on #198
Just so we can plan, we have two GraphQL submissions... https://github.com/BrisJS/meetups/issues/182 which has been previously been volunteered by Josh. If @joshduck is doing May, then having you on in June would be excellent. Otherwise if Josh passes for now, we definitely have an opening for May.

[2017-05-02 14:07] triyuga commented on #198
Hi @iamkevinv

I can do either date.
20mins is fine.

Cheers!

[2017-05-02 20:32] joshduck commented on #182
Hi Kevin,

Yep, I'm ready. May 8th would work best for me.

Josh

[2017-05-02 21:37] deecewan commented on #184
June 5th would be much more preferable.

[2017-05-02 22:27] unixbigot commented on #192
Hi Kevin,
   I can do 20min on May, but I may not have one of my planned demos ready by then (could still do the talk but not as cool)
   20min in  June is totally do-able.

Cheers —chris

—
Christopher Biggs      <christopher@biggs.id.au <mailto:christopher@biggs.id.au>>
Brisbane, Australia.   +61-407-722-799  @unixbigot

[2017-05-03 00:57] matt-way commented on #189
I might be interstate next week (I'll know over the next day or so), so let's just say June 5th to be safe. Thanks.

[2017-05-03 01:05] ohiaia commented on #199
Sadly I will be not able to do the talk the 8th of May nor the 5th of June... The first one is too soon. The last one is to near to the due date of the birth of my daughter ... :)

A quick presentation of 20 minutes will be more than sufficient ...

But if you find someone else that can do the talk No Problem...
It's a "hot" interesting change with a not to many side aspects.

Actually it could be

[2017-05-03 01:12] iamkevinv commented on #199
Well I guess we can always put you in for July ;-)
If someone volunteers before then we could get them in. Thanks for letting
me know :-)
On Wed, 3 May 2017 at 11:05 am, Alberto Falchi <notifications@github.com>
wrote:

[2017-05-03 01:18] #190 closed

[2017-05-03 01:19] iamkevinv commented on #181
@ping @jwulf - if you have slides/resources... please link them here and we'll add the label

[2017-05-03 01:19] #181 closed

[2017-05-03 01:20] #180 closed

[2017-05-03 04:12] liammclennan commented on #179
No thanks. I'm going to take a break for a bit.

[2017-05-03 07:17] joshduck commented on #198
@triyuga i'm intending to give an introduction to GraphQL (under 10 minutes) in my talk Where I'll talk about the idea of requests describing the data and show GraphiQL via graphql.org/swapi-graphql/. If you'd like to know the specific points I'll be hitting on let me know.

[2017-05-03 23:22] KoryNunn commented on #191
Also Henry's daycare situation has changed and I can do any time slot now.

[2017-05-04 02:40] triyuga commented on #198
@joshduck sounds good.

I see you are speaking next week, which I believe means I'll be speaking next month. @iamkevinv can you confirm?

In the comments here:
https://github.com/BrisJS/meetups/issues/182
You mentioned you'd be doing 40mins slot, but above you said 10mins.
There may end up being some overlap in our talks, but I'm not sure it matters, especially if they are a month apart...

GraphQ

[2017-05-04 04:26] jwulf commented on #181
Me on Twitter: https://twitter.com/sitapati

Magikcraft: http://magikcraft.io/

JavaScript and FP: https://bethallchurch.github.io/JavaScript-and-Functional-Programming/

Immutable.js: https://facebook.github.io/immutable-js/

Ramda: http://ramdajs.com/

Array.forEach performance: https://jsperf.com/fast-array-foreach

Array.map performance: https://jsperf.com/for-versus-map

Brisbane Functional P

[2017-05-04 10:58] joshduck commented on #198
I'll be speaking for 40 minutes all up -- 10 minutes on GraphQL and 30 minutes on Relay.

[2017-05-05 02:30] iamkevinv commented on #198
@triyuga i think having you on in June will be great; having a series of a topic has proven to have lots of interest and benefits...

[2017-05-05 02:31] iamkevinv commented on #192
Okay - i don't want to rush you, and i love cool demos... so if you're okay with it maybe June. We're pretty full there too but should still be good :)

[2017-05-05 02:36] unixbigot commented on #192
June is ok, later if overfull.

[2017-05-05 02:42] iamkevinv commented on #185
Hey @MrCeleryman - What's you're name? :) i only see you here as 'Daniel' - need it for the BrisJS entry

[2017-05-05 03:13] MrCeleryman commented on #185
Daniel Mitchell

[2017-05-05 03:15] iamkevinv commented on #185
Awesome. I can't fix the email already sent but the Meetup page is up to date :)

[2017-05-05 04:36] triyuga commented on #198
Great thanks @iamkevinv !

Looking forward to your talk @joshduck . We're using Apollo for now, so keen to learn more about Relay!

[2017-05-06 00:35] samousavih commented on #175
Hi @iamkevinv , sorry for my late response. I am being lazy these days, I changed the topic a little bit , and will prepare that for June 5th, I think 20 mins should be OK.
Thanks @iamkevinv and sorry again

[2017-05-09 00:49] AshKyd commented on #196
Just gonna bump this one to let folks know this is still open. Get in touch if this sounds interesting to you.

[2017-05-09 00:53] AshKyd commented on #182
Awesome talk, we appreciate the effort you put in to this one. You already shared your slides via Twitter so I'll close this one off as done. Thanks again!

https://www.dropbox.com/s/h78qzyibu6up0af/Exploring%20Relay%20-%20PDF.pdf?dl=0

[2017-05-09 00:54] #182 closed

[2017-05-09 00:56] AshKyd commented on #185
Thanks @MrCeleryman. Really appreciate your talk, it was a fun intro to React Native. Couple of questions before we close this off:

1. Do you have your slides/code uploaded somewhere we could share
2. I'm guessing you don't, but to be sure do you have a Twitter handle we could link from the site?

[2017-05-09 01:34] MrCeleryman commented on #185
Sure the presentation is https://prezi.com/view/jy37kuwouw9lNoNSE4UQ/
And the code i showed is from https://github.com/MrCeleryman/ParmyayMobile

And yea no twitter

[2017-05-09 13:05] AshKyd commented on #185
Awesome, thanks for that. Will aim to let you know when the video is posted.

[2017-05-09 13:05] #185 closed

[2017-05-17 07:40] jwulf opened #200 "Magikcraft's "JavaScript Über Alles" Tour of Europe"
Fresh from speaking at NDC Oslo, setting a new JavaScript world record, and launching the Magikcraft Open Source Platform at CoderDojo's Coolest Projects in Dublin, Ireland, the legendary Josh Wulf presents a wrap-up of the trials, the triumphs, the revolutionary technology, and the life-changing movement that is Magikcraft: introducing a new generation of coders to the power of JavaScript through

[2017-05-19 08:51] Brad3273 opened #201 "Request advice on front-end framework/library choice"
G'day. I've done a lot of 'back end' programming over the years but I've had very little to do with front-end interfaces suitable for phones and tablets. To this point responsive web design has largely passed me by.

I need to develop some 'web apps' - responsive single-page applications - and would appreciate any advice on the software that I should use. I've had a very quick look at Angular 2 bu

[2017-05-19 11:15] sandra-arato commented on #201
hey Brad,
Have a look at [Ionic](http://ionicframework.com/), might be what you need.
Cheers,
Sandra

[2017-05-24 14:02] MrCeleryman commented on #186
Sort of related but I have been playing around with React VR which is built upon three js and React Native and would be keen on showing it off.

[2017-05-25 05:27] iamkevinv commented on #191
Hello... this is my usual follow up before announcing on meetup. Are you okay to do this one for this next june 5th meetup ?

[2017-05-25 05:54] iamkevinv commented on #184
Hello... this is my usual follow up before announcing on meetup. Are you okay to do this one for this next june 5th meetup ?

[2017-05-25 05:54] iamkevinv commented on #189
Hello... this is my usual follow up before announcing on meetup. Are you okay to do this one for this next june 5th meetup ?

[2017-05-25 05:54] iamkevinv commented on #198
Hello... this is my usual follow up before announcing on meetup. Are you okay to do this one for this next june 5th meetup ?

[2017-05-25 05:55] iamkevinv commented on #179
Hello... this is my usual follow up before announcing on meetup. Above you were saying no to the June 5th meetup.... is that still the case? I'll pre-emptively move you to july but feel free to correct me.

[2017-05-25 05:57] iamkevinv commented on #184
Ha... i'll take those emoji as a yes. :)

[2017-05-25 06:01] iamkevinv commented on #192
Hello... this is my usual follow up before announcing on meetup. Are you okay to do this one for this next june 5th meetup if we can fit it in... waiting to hear from the ones who registered in before you first before locking it down. Happy to take such a cool talk if we can though :)

[2017-05-25 06:12] unixbigot commented on #192
Yep, happy to do it.   Haven't actually written it yet though, so if you have folks with ready talks in the pipeline, by all means tap those guys.

I see you joined IOT, Kevin.  After running my first meetup yesterday I have even greater respect for the BrisJS team.

[2017-05-25 06:43] KoryNunn commented on #191
Yep that should be fine.

[2017-05-25 09:57] matt-way commented on #189
Yeah, for sure. Count me in :)

[2017-05-29 11:19] iamkevinv commented on #198
@triyuga Ping? Keen to give this talk?

[2017-05-29 11:24] iamkevinv commented on #192
Cool @unixbigot!... yeah i think it's good to have you on standby... waiting on 1 more confirmation and you are off the hook haha.

RE: IoT meetup - Yeah i look forward to coming to the IoT meetups... i was disappointed to miss the first one but i'm so very flat out at the moment. Hopefully catch you folks soon. :)
Re Effort: Hehe yeah it's tough. I'm glad to get a little help from some kind peopl

[2017-05-29 13:27] iamkevinv commented on #198
@triyuga - I've included this on the lineup... if there's something stopping this talk, i have someone who can be a backup in the wings. Let me know early though...

[2017-05-29 13:28] iamkevinv opened #202 "Web3D 2017 June 5-7"
The 22nd International Conference on Web3D Technology
Brisbane, Australia
June 5-7.

http://web3d2017.web3d.org/

Join us to learn about WebVR, WebAR, WebGL, X3D, Three.js and more!

12 Masterclasses and Workshops
+ 5 Keynote Presenters (from Unity, Mozilla, Khronos/NVIDIA etc.)
+ 20 Technical Research Papers
+ 10 Technical Posters
+ Digital Art Gallery
+ Reception at the QUT Cube
+ Conference Din

[2017-05-29 16:04] triyuga commented on #198
@iamkevinv yes can do. Sorry for late response. I missed the notifications.

[2017-06-05 07:18] iamkevinv opened #203 "Can someone talk about: Progressive Web Apps"

[2017-06-05 07:19] iamkevinv opened #204 "Can someone talk about: Modern JS Testing"

[2017-06-05 07:19] iamkevinv opened #205 "Reflex - higher-order FRP for front-end development"

[2017-06-05 12:39] garrows opened #206 "Free Localhost Deployment Ticket"
I have a free Localhost Deployment ticket I'd like to give away https://www.localhost.events/projects/deployment/info/

Email glen.arrowsmith@gmail.com

Preferably to a student or financially disadvantaged person.

[2017-06-07 04:45] garrows commented on #206
Claimed.

[2017-06-07 04:45] #206 closed

[2017-06-10 03:52] luan03 opened #207 "Does anyone knows about part-time front end job in Brisbane?"
I came to Brisbane for study english and I'd like to continue working with frontend development, but I've only 4 hours per day for work. If anyone knows about opportunities please contact me.

luan03@msn.com

https://www.linkedin.com/in/luan03/

Cheers,

Luan

[2017-06-12 01:57] andrewling-simple opened #208 "Senior Front End Developer - Simple"
Simple is looking for a permanent Senior Front End Developer. The position description is listed below:

Your main responsibility is to architect and implement the product roadmap as defined by the leadership team. You will own the front-end and help develop the flagship product for the next 6-12 months, then move on to the new product where you will help shape the future of the application's fron

[2017-06-12 03:25] johncmckim opened #209 "Software Developer - A Cloud Guru"
![logo-horiz-small](https://user-images.githubusercontent.com/1297227/27018274-7a20464c-4f72-11e7-98e7-61c1e99e122c.png)

[A Cloud Guru](https://acloud.guru/) is looking for developers to join our team. We're looking for full-stack developers to work on our learning platform.

## About Us
A Cloud Guru is the world's leading online course provider of AWS training.  In a nutshell - we teach all thin

[2017-06-21 14:40] thiagospassos opened #210 "Talk: Create, Debug and Deploy JavaScript Azure Functions"
Hi Kevin,

I wanted to do a talk on Azure Functions with JavaScript.
-----------------------------------------------------
What's serverless? And why would you go serverless? Worry no more, these questions will be answered and I'll show you a great way to get started by using Azure Functions.
You don't need to move all your applications to the cloud right now, you can start with bits and pieces wi

[2017-06-27 10:26] iamkevinv commented on #191
@KoryNunn links to share? Thanks.

[2017-06-27 10:26] #191 closed

[2017-06-27 10:26] #202 closed

[2017-06-27 10:27] iamkevinv commented on #189
@matt-way - Resources to share? Thanks :)

[2017-06-27 10:27] #189 closed

[2017-06-27 10:28] iamkevinv commented on #184
@deecewan - Resources to share? Thanks :)

[2017-06-27 10:28] #184 closed

[2017-06-27 10:28] iamkevinv commented on #192
It's your month @unixbigot - you ready to rock it?

[2017-06-27 10:29] iamkevinv commented on #179
Hey @liammclennan - you keen to give this talk next week? I'm sure everyone else would be keen to hear it.

[2017-06-27 10:30] iamkevinv commented on #198
Hey @triyuga - if you have some resources to share - drop them here :)

[2017-06-27 10:30] #198 closed

[2017-06-27 11:03] iamkevinv commented on #186
Title updated! Sounds like it would be fun :) How long would you need 20 or 40?

[2017-06-27 11:16] iamkevinv commented on #199
@ohiaia are you available to do this talk next week if we have capacity? Thanks :)

[2017-06-27 11:18] iamkevinv commented on #210
Hey @thiagospassos - is 20 mins sufficient or did you need a 40 slot? Were you available for next week if we have capacity to do that amount of time?

[2017-06-27 11:20] iamkevinv commented on #200
@jwulf - if we have capacity is this still a go? It's getting really tight - 5 talks already so i'm trying to work out who is confirmed or not. Cheers.

[2017-06-27 11:24] thiagospassos commented on #210
Hi Kevin,

The time will drive how deep I can go. I'd probably prefer the 40min slot
though.

Cheers

On 27 Jun. 2017 9:18 pm, "Kevin Vanderbeken" <notifications@github.com>
wrote:

[2017-06-27 21:47] deecewan commented on #184
[Slides](https://docs.google.com/presentation/d/1udWdzKMu_Y2YI9_b8YfrZKlxmYdr_zgDpNMkNz0LdXY/edit?usp=sharing) are here. Warning, tho, for anyone looking at these later. I gave up toward the end and did a live code demo.

[The Redux Docs](http://redux.js.org/) are a *super* good place to look. Nice examples, and they dig a bit deeper.
[This video series](https://egghead.io/series/getting-started-w

[2017-06-27 22:43] liammclennan commented on #179
No thanks. Bit busy atm.

[2017-06-27 23:46] unixbigot commented on #192
Let’s do it.   I heard china post had to order new planes to carry all the shinies I’ve been buying.

It’ll be a 20min quickie - Internet all the things with Mongoose-OS and Espressif.    Two open-source projects
come together to bring JavaScript and Amazon IoT to a number of popular sub-$10 miniature computers.

(20 mins plus dicking with HDMI time, that is :)

—chris

—
Christopher Biggs      <c

[2017-06-27 23:53] MrCeleryman commented on #186
I think 20 would be enough, I can show off other VR frameworks like A-Frame which can be more JS like too.

[2017-06-28 00:25] jwulf commented on #200
I'm back and I'm in. I went to the Elm workshop in Oslo and will talk about he Maybe Monad as well

[2017-06-28 01:30] ohiaia commented on #199
Actually Yes. I should be able to prepare the slide to cover a 5/10 minutes talk... Probably adding a little sample of use cases of the mixed way too... Would that be okay for you?!

[2017-06-30 00:31] iamkevinv commented on #199
Would be great... lets do it

[2017-06-30 03:23] iamkevinv commented on #175
Sorry @samousavih looks like this time we didn't see your reply. June has obviously passed now. Are you still able to present this? I Feel like it's a bit late to try and rope you in for this so last minute, so can you do our August meetup?

[2017-06-30 03:34] iamkevinv commented on #210
Hey @thiagospassos - best i could do is give you 30 since we're having two presenters up in the first half, but the 2nd presenter says they only need 10-15. Worth noting that we've had a couple of  presentations around serverless in the past few months but they were all AWS. So if you wanted to trim down anywhere, maybe reduce some info around what serverless is (by all means mention it at least)

[2017-06-30 04:44] thiagospassos commented on #210
Cool.. no worries

On Fri, Jun 30, 2017 at 1:34 PM Kevin Vanderbeken <notifications@github.com>
wrote:

[2017-07-03 12:11] garrows opened #211 "Queensland Startup Precinct Space"
There is an amazing space on Brunswick St mall capable of holding 220 people. It's a collaboration with RiverCity Labs and QLD gov. I've spoken to them and they are available most nights for $16/hour to run the air conditioning.

I spoke to @iamkevinv tonight and he is interested in running a 2nd BrisJS. Opening the issue to kick off organisation.

![](http://advance.qld.gov.au/assets/includes/ima

[2017-07-03 12:18] garrows commented on #211
Oh and the internet is >100Mbps download and upload!

[2017-07-03 12:37] AnnaGerber opened #212 "Talk suggestion: JS Debate"
After the juxtaposition of the two recent talks on Async/Await I would like to suggest a talk idea: pick a juicy topic and have 2 - 3 people with different angles on the topic prepare a 5 minute rant^H^H^H^H / talk to articulate their views. Follow up with rebuttals / panel discussion

I think it would be a great way to get more diversity of opinions on some key topics

[2017-07-03 12:41] AshKyd commented on #200
Resources shared on Meetup: https://medium.com/@sitapati/magikcraft-in-europe-140-characters-or-less-at-a-time-4a0b2b647af3

Stay tuned for videos here: https://bris.js.org/#talk-188

(And a non-broken avatar. Not sure what's going on there.)

[2017-07-03 12:41] #200 closed

[2017-07-03 12:42] AshKyd commented on #200
Thanks to you and Prahlad for a great talk, entertaining as always!

[2017-07-03 12:44] AshKyd commented on #210
Thanks for the talk @thiagospassos, was really interesting to see how the Azure platform does things.

Do you have your slides or any resources shared someplace we could link to?

[2017-07-03 12:44] AshKyd commented on #199
Thanks for your talk @ohiaia, reallly enjoyed it. Do you have your slides up somewhere we could link to?

[2017-07-03 12:46] AshKyd commented on #192
Hah, thanks @unixbigot. Shame about the gremlins, but I think things worked out well anyway. Do you have your slides/presentation up somewhere we could link to?

[2017-07-03 12:48] AshKyd commented on #196
Just bumping this one, we still have a position open for this one. Give me a yell if you think it might be for you :)

[2017-07-03 12:52] AshKyd commented on #179
@liammclennan: hope things calm down for you at some point. :) Would the August meetup suit better?

[2017-07-03 12:52] AshKyd commented on #186
@MrCeleryman: how does August sound for you? Can we lock it in? :)

[2017-07-03 21:13] thiagospassos commented on #210
Hi Ash,

Thanks for having me. I actually wrote a blog post on the talk with demos,
the slide deck and the full video.

Here it is https://passos.com.au/azure-functions-net-ug-tour/

Cheers

On 3 Jul. 2017 10:44 pm, "Ash Kyd" <notifications@github.com> wrote:

[2017-07-03 22:31] MrCeleryman commented on #186
Sure 👍

[2017-07-03 22:31] MrCeleryman commented on #186
I'll get the title ready soon

[2017-07-04 00:20] unixbigot commented on #192
Thanks, Ash.  I’ll get them up as soon as i can, probably not before tonight.

—chris

—
Christopher Biggs      <christopher@biggs.id.au <mailto:christopher@biggs.id.au>>
Brisbane, Australia.   +61-407-722-799  @unixbigot

[2017-07-04 03:53] AshKyd commented on #210
Very cool, thanks a lot!

I've [updated the BrisJS site with your link](https://bris.js.org/#talk-185), and we'll get video up as soon as we can.

[2017-07-04 03:53] #210 closed

[2017-07-04 04:25] thiagospassos commented on #210
Awesome... thank you very much.

On Tue, Jul 4, 2017 at 1:53 PM Ash Kyd <notifications@github.com> wrote:

[2017-07-05 02:47] unixbigot commented on #192
Slides are up

http://christopher.biggs.id.au/talk/2017-07-02-iot-in-two-minutes/ <http://christopher.biggs.id.au/talk/2017-07-02-iot-in-two-minutes/>

—
Christopher Biggs      <christopher@biggs.id.au <mailto:christopher@biggs.id.au>>
Brisbane, Australia.   +61-407-722-799  @unixbigot

[2017-07-05 04:22] AshKyd commented on #192
Cool, added it to the talk page. The video is up too. https://bris.js.org/#talk-187

[2017-07-06 00:42] iamkevinv commented on #211
Thanks for sharing this here mate :)  As i've dropped hints of to many close followers of BrisJS, we are consistently exceeding our capacity at Toowong now, so depending on availability of talks, we are intending to have two meetups per month, and have a name differentiation between from that venue to BrisJS West... and BrisJS East will be a new location TBA. This location at Brunswick St is being

[2017-07-06 01:29] JasonGT opened #213 "Single Page Applications with ASP.NET Core"
In this talk, we'll look at using ASP.NET Core JavaScript Services to build single page applications using Angular, Aurelia, Knockout, React, React+Redux or Vue. Using this approach you can develop on Windows, Mac, or Linux using your preferred source code editor. I'll demonstrate server-side prerendering, webpack dev middleware, hot module replacement (HMR), efficient production builds and much m

[2017-07-06 08:56] #192 closed

[2017-07-08 06:55] dalaing commented on #205
I don't know if BrisJS is keen on hearing about AltJS languages, but I could talk about doing front-end development with GHCJS and `reflex` if that would be of interest to the group.  If that were the case, I know a couple of people who could give a good talk on Purescript as well.

[2017-07-08 06:56] dalaing commented on #205
These talks would also be relevant to #193

[2017-07-10 01:31] garrows commented on #211
Some good space details here https://sites.google.com/view/theprecinct/stair-stadium?authuser=0

[2017-07-10 01:32] garrows commented on #211
FunCaptcha (my employer) is happy to sponsor the air conditioning, the staff person (we are a resident so as long as I go we dont have to pay a staff member fee) & help clean up to avoid the cleaning fee.

[2017-07-10 05:00] MauriceButler commented on #211
Looks like a very cool space. :+1:

[2017-07-10 06:06] henrycjc opened #214 "Looking for JS developer/designer"
This is basically a green-fields project where the front-end and back-end exist only as a prototype which will now be rewritten “for real” as a top-quality, maintainable solution for the medium to long term. The back-end is now largely done too, which should speed things up (the back-end dev is me, @henrycjc).

**Dr Rob’s Experimentary** are looking for a full-stack javascript developer with good

[2017-07-11 14:11] samousavih commented on #175
Hi @iamkevinv,
Yes I can do the August meetup, if there is still a free room.

[2017-07-16 01:57] johncmckim commented on #211
@garrows @iamkevinv  I work from RCL I can talk to people there about this if you like. It's a great space and internet is fantastic (380Mb/s ethernet & 100Mb/s wifi).

[2017-07-16 01:58] #209 closed

[2017-07-16 01:58] johncmckim commented on #209
We found people. But if you happen to see this and are still interested hit me up.

[2017-07-16 13:04] MrCeleryman commented on #186
Hey sorry guys I'm going to have to cancel my talk, something has come up. Might look to reschedule it for another month

[2017-07-17 10:50] AshKyd commented on #186
No probs, hope everything's okay. Will chase you up next time. :)

[2017-07-17 10:56] AshKyd commented on #205
This sounds like fun, thanks for stepping up! Just a few questions:

1. Are you available for:
    - [ ] (a) August 14th
1. Which presentation block do you reckon this would be best suited to?
    - [ ] (a) 40min
    - [ ] (b) 20min
1. Please provide your Twitter handle (if available) so we can link from the meetup, website etc.

Let me know, and we can schedule you in. :)

FYI [information for sp

[2017-07-17 11:00] AshKyd commented on #213
Thanks for volunteering Jason, we don't get too much Microsoft tech at BrisJS. Just a few questions to get the ball rolling:

1. Due to CampJS being on the weekend earlier the meetup has been moved to the next week. Are you available for:
    - [ ] (a) August 14th
1. Which presentation block do you reckon this would be best suited to?
    - [ ] (a) 40min
    - [ ] (b) 20min
1. Please provide your

[2017-07-17 11:03] AshKyd commented on #175
That's great news @samousavih. Just to confirm, this is a 20 minute timeslot on on August 14th (the date was changed due to CampJS).

One more question, I was hoping you could provide your Twitter handle (if available) so we can link from the meetup, website etc. Thanks!

Also FYI [information for speakers](https://bris.js.org/#present) is available on the website. Talks will be recorded for the w

[2017-07-17 11:21] dalaing commented on #205
I think it would definitely be a 40 minute talk, and I could do it on the 14th.

Have there been any talks about Purescript before?  If not, I'll put some slides together to give a primer of ML-like syntax.  If the audience is likely to be thinking "Why functional?" I can put some slides in about that as well.

I'm giving a version of this talk to BFPG tomorrow night at The Precinct, but it's prob

[2017-07-17 11:25] dalaing commented on #205
Also - I have no idea what the BrisJS policy is on spruiking various things.

I'm currently working for Data61 at the Functional Programming Lab, and we're periodically doing free 3-day Intro to Functional Programming courses in Brisbane.  Am I alright to mention that during the talk, in case people like what they see / want to understand things a bit better / try some of this stuff out in anger?

[2017-07-17 11:34] AshKyd commented on #205
That sounds good. I'll leave the final scheduling to @iamkevinv, but I think everything should be good to go.

Not having Twitter isn't a dealbreaker, though it is how we pull in speaker info to the BrisJS site so you just won't have a bio next to your video :)

Also, feel free to spruik those events. If you have any coming up, do let me know and I'll schedule some tweets as well.

[2017-07-17 12:43] samousavih commented on #175
That is alright, I am @samousavih on Twitter.
Thanks

[2017-07-17 13:00] johncmckim opened #215 "Building a chatbot with AWS Lambda and Lex"
I built a chatbot using AWS Lambda (Nodejs of course) and AWS Lex for the AWS Chatbot Challenge - see [our entry](https://devpost.com/software/a-cloud-guru-bot-ryfwn3).

![acg-slackbot](https://user-images.githubusercontent.com/1297227/28243938-d6ef1e0e-6a1e-11e7-8a43-d4dba579a868.gif)

I could walk through building a Slack bot and using AWS Lex to add intelligence to the bot. I would touch on AWS

[2017-07-17 23:05] AshKyd commented on #215
Sweet, that sounds fun

1. I think we've already got a 40 min talk, do you reckon a 20 min block sounds good?
    - [ ] (a) ~40min~
    - [ ] (b) 20min
1. Are you available for:
    - [ ] (a) August 14

As a FYI [information for speakers](https://bris.js.org/#present) is available on the website. Talks will be recorded for the website & YouTube channel, if you wish to opt out of this please let us

[2017-07-17 23:42] johncmckim commented on #215
Yep @AshKyd  August 14th for a 20 minute slot works great.

[2017-07-19 23:42] henrycjc commented on #214
Thanks for the interest everyone. We're still looking at this time.

[2017-07-26 23:40] rodperottoni commented on #194
Hey Kevin.
Are you referring to multi-platform development frameworks (React Native, Titanium) ?

[2017-07-28 03:46] AshKyd commented on #196
Thanks all, we've found two awesome devs. Will let you know if we have any more positions available.

[2017-07-28 03:46] #196 closed

[2017-07-31 08:29] KimBurgess opened #216 "Front End Developer - ACA Projects"
![](https://avatars2.githubusercontent.com/u/20587595?v=4&s=100)

**Who we are**
[ACA Projects](https://www.acaprojects.com/) are a fast-paced team of developers and designers based in Sydney and Brisbane that build open systems for modern, connected environments.

*For those who don't speak marketing bullshit:* we build systems which cover 'smart workplace apps' (people finding, room booking), ro

[2017-08-01 08:44] AshKyd commented on #213
Cheers. I've added you to the September meetup, but will let @iamkevinv get back to you with the final okay. :)

[2017-08-02 23:53] liammclennan opened #217 "Node / Angular / React developers - Starts at 60"
Hi BrisJS,
I am not Troy McClure, but you may remember me from a couple of BrisJS presentations I have done over the years about React and Redux. I am part of an excellent team building the technology for [Travel at 60](https://travel.startsat60.com/) and a couple of related applications. The business is growing like crazy so we are looking for 2 more developers to join our team.

You must have a

[2017-08-07 06:30] dalaing commented on #205
Is this likely to go ahead?

If so, I'll really have to get cracking on retooling the talk for an audience that isn't as familiar with Haskell as BFPG :)  If not, I'm fine to mothball it for a while.

[2017-08-07 08:28] iamkevinv commented on #205
Hey @dalaing - happy to have you next Monday :-) sorry for dragging out the suspense. We're all JS people so be kind to us - these other languages might seem scary! Heheh. Looking forward to it.

[2017-08-07 08:35] AshKyd commented on #205
Good news, thanks @iamkevinv!

@dalaing, could I please get a title/synopsis we can use for the meetup :)

[2017-08-07 10:42] dalaing commented on #205
Title:
Reflex - higher-order FRP for front-end development.

Synopsis:
There has been a lot of buzz about Functional Reactive Programming over the last few years.
Most of it has been about distant relatives of the original idea, which aren't anywhere near as powerful.

This talk will be about Reflex, a Haskell library which uses FRP for front-end development with great correctness, composability a

[2017-08-07 10:47] dalaing commented on #205
@iamkevinv I'll be kind :)  I mostly just want to get across some of the ideas from the original conception of Functional Reactive Programming, since I think they're pretty handy for front-end development.

If I have time, I'll try to work some `sodium-typescript` in - although it's not really something I'm set up for.  The syntax might be a bit more familiar, but I don't think it has some of the

[2017-08-09 02:16] benoneal opened #218 "Themeable email templates with MJML"
Talk title: Themeable emails
Talk length: 20 min
Talk synopsis: How to build a complete brandable email templating solution that doesn't suck.
Available month(s): October

[2017-08-09 04:01] mikerubio720 opened #219 "Lead Front End Position available"
Hey guys we have a position for a Lead Front End Dev.
The role is for an award winning e-learning company, is an innovation trail blazer! With a passion for learning and education, they bring a fresh perspective and high tech approach that makes people want to learn. They have an amazing work culture that's not accidental. They value people and love to see individuals thrive in their unique skills

[2017-08-11 00:02] garrows opened #220 "Full Stack Dev/DevOps (AWS, Node.js/JavaScript, PHP) Fortitude Valley, $80-$110k+Super"
# Full Stack Dev/DevOps (AWS, Node.js/JavaScript, PHP) Fortitude Valley, $80-$110k+Super
![FunCaptcha Logo](http://i.imgur.com/h2H54eo.png)

At FunCaptcha we fight an epic battle against cyber crime, spammers, scalpers and trolls. Our internationally praised Brisbane based company replaces the much-hated method that makes users "prove their humanity" by deciphering blurry letters and photos. Inste

[2017-08-11 01:44] AshKyd commented on #219
Hi @mikerubio720, can you clarify if this is a position with you at seventwenty.com.au, or are you recruiting for another company? If so, please include the company in the job description. :)

[2017-08-11 01:58] AshKyd commented on #218
Sounds great, let's lock it in for October!

Could you please provide your Twitter handle (if available) so we can link from the meetup, website etc.

FYI [Information for speakers](https://bris.js.org/#present) is available on the website. Talks will be recorded for the website & YouTube channel, if you wish to opt out of this please let us know. Internet is not available at the venue, but if you

[2017-08-11 02:11] jonny2k9 commented on #220
You have an excellent 404 page! Might apply 😄

[2017-08-11 02:30] jwulf commented on #212
* Functional vs ES6 | TypeScript Object-Oriented vs JS Prototypal inheritance
* Angular vs React vs Vue.js vs DIY
* NoSQL vs SQL

[2017-08-11 02:31] jwulf commented on #212
* Kory Nunn vs tc-39

[2017-08-11 05:03] jwulf commented on #212
* Flow vs TypeScript

https://twitter.com/runjep/status/889388801071755269

[2017-08-11 05:04] jwulf commented on #212
* Tabs vs Spaces

[2017-08-11 23:48] jwulf commented on #193
I can talk about TypeScript and the benefits and drawbacks. I've been using it since 0.8 back in 2012.

[2017-08-13 06:24] AshKyd opened #221 "Can anyone talk about A-frame/WebVR?"
New to Firefox, anyone want to do some research and talk about this in September?

https://blog.mozilla.org/blog/2017/08/08/webvr-new-speedy-features/

[2017-08-13 22:56] jwulf opened #222 "BrisJS Open Hack Day Event/s"
Hey, what about a "BrisJS Hack Day" as a thing? We could have a "BYO project and get help / give help" track, and also a "Getting Started" track for absolute beginners.

[2017-08-13 23:05] iamkevinv commented on #222
This is absolutely on the cards :-)
Workshops will get kicked off at BrisJS and informal hack days would come
along with them. JS101 and Node for Noobs will probably be some of the
first series - as those have been requested. I'll open a new BrisJS issue
to start getting feedback on that separate to this discussion.

Was going to start work on both in OCT after my wedding is done. Good to
start th

[2017-08-14 00:26] AshKyd commented on #222
We should totally reach out and see if we can team up with [Brisbane Tech Newbies](https://www.meetup.com/Brisbane-Tech-Newbies/) for the 101 type events considering Caitlin has already made a start on it.

[2017-08-14 04:44] MauriceButler commented on #222
I heard great things about the node girls that happened on the weekend too so there is a great opportunity to reach out and include them.

@jwulf You might be able to assist with introductions there etc?

[2017-08-14 04:49] iamkevinv commented on #222
Of course 👍 have a few contacts already, but asking again never hurts.

It's early days but any feedback or interesting tips and ideas for us to
focus on are a benefit.

On Mon, 14 Aug 2017 at 2:44 pm, Maurice Butler <notifications@github.com>
wrote:

[2017-08-14 04:50] iamkevinv commented on #222
Ash - yeah the idea would be to broadcast pretty far and wide, and as soon
as something even remotely more organised (than right now) eventuates as
per aforementioned dates I'll be super keen to pull in everyone in this
space :-)

On Mon, 14 Aug 2017 at 10:26 am, Ash Kyd <notifications@github.com> wrote:

[2017-08-14 05:37] iamkevinv opened #223 "BrisJS Workshop Events - JS101 / Node for Noobs / etc"
Workshops will get kicked off at BrisJS and informal hack days (#222) would come
along with them. JS101 and Node for Noobs will probably be some of the
first series - as those have been requested. I'll open a new BrisJS issue
to start getting feedback on that separate to this discussion.

Was going to start work on both in OCT after my wedding is done. Good to
start thinking about where and when a

[2017-08-14 12:00] AshKyd commented on #222
My suggestion was more about reaching out to help make Brisbane Tech Newbies a great meetup rather than pulling them into ours. That feels a bit like a steamroll which is the last thing we should be doing 😆

[2017-08-14 12:12] AshKyd commented on #205
Thanks very much for your talk, it was really eye opening! Do you have some slides/resources posted somewhere we could share with the meetup?

[2017-08-14 12:13] AshKyd commented on #215
Thanks for the talk, and the good answer on the random curveball question! Do you have slides/resources posted somewhere we could share with the meetup?

[2017-08-14 12:14] AshKyd commented on #175
Thanks a bunch for the talk, was good to go through and get a handle of. I know you didn't have too many slides, but do you have any resources you'd like to share with the meetup?

[2017-08-14 12:36] lillypiri commented on #204
I could talk about this one in October, if you don't mind the wait.

[2017-08-14 12:38] iamkevinv commented on #204
That would be super @lillypiri

[2017-08-14 23:01] mikerubio720 commented on #219
Hey Ash,

Yes, we are recruiting for the company we are representing. Unfortunately, the companies name is confidential until applicants apply for the role. Sorry about any inconvenience.
Regards,

Mike Rubio
Career Advisor
M 0433 011 409<tel:0433011409>
W seventwenty.com.au<http://www.seventwenty.com.au><https://seventwenty.com.au> [Seven Twenty] <https://seventwenty.com.au>

[twitter]<https:/

[2017-08-14 23:44] AshKyd commented on #219
No probs, we might have to close this one in that case. If you have any roles you can advertise directly please feel free to post those. :)

[2017-08-14 23:44] #219 closed

[2017-08-15 06:16] dalaing commented on #205
I should have the slides up somewhere in a day or two - I'll let you know when they're ready.

[2017-08-15 10:11] KimBurgess opened #224 "Talk: Node and .NET in-process interop"
Yep, you read correctly. That's a thing.

Recently we had a project where we needed to integrate some of our front-end components (written in js) with another product. Tiny problem - the only integration option for this other product was a .NET SDK. Faced with the option of having to completely re-implement one side of this, the thought occurred:
![Why not both?](https://media.giphy.com/media/3o85

[2017-08-15 10:22] mikerubio720 commented on #219
Hey Ash,
No worries. Thanks for your help anyway.
Mike

Mike Rubio
Career Advisor
M 0433 011 409
W seventwenty.com
________________________________
From: Ash Kyd <notifications@github.com>
Sent: Tuesday, August 15, 2017 9:44:02 AM
To: BrisJS/meetups
Cc: Mike Rubio; Mention
Subject: Re: [BrisJS/meetups] Lead Front End Position available (#219)

No probs, we might have to close this one in that case

[2017-08-16 00:57] dalaing commented on #205
I've put the slides up [here](https://blog.qfpl.io/share/talks/intro-to-reflex-brisjs/).

[2017-08-16 02:08] AshKyd commented on #205
Awesome thanks. I've added them to this page, the video will pop in when it's uploaded https://brisjs.org/#talk-189

[2017-08-16 02:08] #205 closed

[2017-08-17 08:14] johncmckim commented on #215
@AshKyd the slides are available at [http://slides.com/johnmckim/serverless-slack-bots](http://slides.com/johnmckim/serverless-slack-bots).

The bot is on the Slack app store at [https://slack.com/apps/A68R1BXL4-a-cloud-guru-bot](https://slack.com/apps/A68R1BXL4-a-cloud-guru-bot)

[2017-08-17 10:42] AshKyd commented on #215
Sweet, added 'em to the talk page. Will get video up when it happens https://brisjs.org/#talk-190

[2017-08-17 10:42] #215 closed

[2017-08-18 12:14] jwulf commented on #224
Did you use Edge.js?

[2017-08-19 03:34] anchat1990 commented on #222
Hello everyone 👋 Love the idea for a hack day! would love to get involved. I have a mailing list for the existing attendees and those interested in fitire nodegirls events. Would be awesome to team up.

[2017-08-19 11:57] KimBurgess commented on #224
Certainly did! I built [edge-ts](https://github.com/acaprojects/edge-ts) around it to then provide types and a few little niceties to the API (such as the option for promises for async invocation etc).

[2017-08-20 12:04] AshKyd commented on #224
Definitely sounds interesting. Reckon you could do a 15-20 min talk on this one?

Also:
1. Are you available for:
    - [ ] (a) September 4th
1. Please provide your Twitter handle (if available) so we can link from the meetup, website etc.

[Information for speakers](https://bris.js.org/#present) is available on the website. Talks will be recorded for the website & YouTube channel, if you wish to

[2017-08-20 12:13] AshKyd commented on #204
Thanks @lillypiri, appreciate the offer. From Twitter you mentioned you were keen to talk about jest snapshot testing/ava, does that sound right? If that's all good, please send through a synopsis for the meetup page.

Couple of questions:
1. Are you available for:
    - [ ] (a) September 4th
1. We have the option of a full-length 40 minute talk, or a regular 20 mins, which would you prefer?
    -

[2017-08-20 12:18] AshKyd commented on #179
@liammclennan Just putting together the September meetup and figured I'd touch base.

Will you available any time soon, or would you prefer if we tried to get someone else to do this one :)

[2017-08-20 12:29] AshKyd commented on #186
Hey @MrCeleryman, just getting in touch to see if you'd be keen to put something together for September 4th?

[2017-08-20 12:44] AshKyd commented on #213
Hi @JasonGT, sorry for taking so much time to get back to you.

Having considered things I'm a little hesitant to put a non-Javascript talk in the headliner spot for the second month in a row. Would you be willing to either condense it to 20 mins or move it to October to space things out?

[2017-08-20 22:33] MrCeleryman commented on #186
Hey @AshKyd, sorry not this time but maybe next meetup I think

[2017-08-20 23:19] liammclennan commented on #179
Hi @AshKyd . Happy for someone else to do it.

[2017-08-20 23:55] johncmckim commented on #223
@iamkevinv if you are looking for mentors I'd be interested in volunteering. I have some experience running workshops as part of my role at A Cloud Guru. I can also help develop content for the workshop.

Who is the target for this workshop? People that have no programming experience?

[2017-08-21 04:21] KoryNunn commented on #212
I'd be happy to do one versus typescript. Need a sparing partner tho.

[2017-08-21 22:29] KimBurgess commented on #224
Tops. The 4th works well. You can find on Twitter via [_______kim](https://twitter.com/_______kim), or more widely at [simple.industries](https://simple.industries/)

[2017-08-22 01:29] AshKyd commented on #224
Awesome, see you there.

[2017-08-23 00:34] jwulf commented on #212
It's on.

[2017-08-23 01:02] AshKyd commented on #212
Nice, well if you want to prepare your opening arguments I can book you in for the next meetup for the great typescript showdown? :D

[2017-08-23 01:20] KoryNunn commented on #212
I don't need to prepare, I was born ready.

[2017-08-23 03:15] JasonGT commented on #213
Hi Ash,

No worries, October suits me just fine. I'll modify the talk to ensure that BrisJS gets max value.

Jason

________________________________
From: Ash Kyd <notifications@github.com>
Sent: Sunday, 20 August 2017 10:44 PM
To: BrisJS/meetups
Cc: Jason Taylor; Mention
Subject: Re: [BrisJS/meetups] Single Page Applications with ASP.NET Core (#213)

Hi @JasonGT<https://github.com/jasongt>, sorry

[2017-08-23 05:12] developersteve opened #225 "Sept Meetup - React.js patent panel discussion"
This actually came about during a convo with @iamkevinv

Ive got an awesome patent lawyer from Brisbane keen to be on the panel from Hopgood Ganim to talk on the legal side of things (he knows his shiz when it comes to tech patents). Will just need a few more panel people to talk on the code side.

As this is a topic that covers a much wider issue around open source IP ownership and things that gr

[2017-08-23 07:20] AnnaGerber commented on #212
Awesome. Can I be the moderator?

[2017-08-23 07:29] iamkevinv commented on #225
Referenced article: https://medium.com/@dwalsh.sdlr/react-facebook-and-the-revokable-patent-license-why-its-a-paper-25c40c50b562

[2017-08-23 07:51] iamkevinv commented on #223
I'd love to have you on the list @johncmckim - I expect there would be variations on the kinds of workshops in exposure to programming. This is some off the cuff ideation we can use as talking points:
 - "Learning to code with JS" - perhaps assume no code knowledge, teach some basic computer science concepts about algorithms, structure, and introduce JS as a language to make your first 'program' i

[2017-08-23 07:59] iamkevinv commented on #222
Cool @anchat1990! Look forward to starting to work on this later on!

@AshKyd - You do still make a totally relevant point, we'll have to be conscious that if we do want to run a hack day aren't steamrolling BNE tech newbies. It's certainly not intentional. I think we could probably collaborate with them to make sure everyone's still happy and there isn't a huge overlap, or join up with them for a

[2017-08-23 12:26] AshKyd commented on #213
Awesome, thanks @JasonGT. I've confirmed you for 40 mins in October.

Some supplementary info: [Information for speakers](https://bris.js.org/#present) is available on the website. Talks will be recorded for the website & YouTube channel, if you wish to opt out of this please let us know. Internet is not available at the venue, but if you need access to a 4G hotspot please let us know on the night

[2017-08-23 12:27] AshKyd commented on #212
That sounds excellent, I can't wait. So as per the OP:

I'll tentatively confirm this for September, just want to make sure @jwulf is actually onboard.

[2017-08-23 12:34] AshKyd commented on #225
This sounds very cool, it's become somewhat of a hot topic of late.

What do you need to make this happen?

[2017-08-23 20:07] developersteve commented on #225
@AshKyd just some more panelists, 2 or 3 more.

[2017-08-23 23:31] johncmckim commented on #223
Those topics are really good. I like that there's a series of workshops so people could in theory progress through them.

The workshops we've run in the past try to teach through making something. For example, learning about Serverless through building a chatbot. It's good because people see a result at the end of it. They can go home saying I made x. We also try to make what they're building some

[2017-08-24 04:11] KimBurgess commented on #223
That would be a pretty fun project to work through. I'm not sure if it drifts from the JS focus too much, but you could continue with an extension workshop(s) that provides an intro to tensorflow too. Once you have the model you can bring it into the front-end with https://github.com/transcranial/keras-js.

Obligatory reference project here: https://medium.com/@timanglade/how-hbos-silicon-valley-b

[2017-08-24 04:16] benoneal commented on #218
Cool. I can do that. 9th October yeah? My twitter handle is @BenONealUX but it's extremely inactive.

[2017-08-24 04:27] iamkevinv commented on #223
These are good ideas folks :-) thanks for keeping up the conversation and feel free to continue to think  about what your ideal workshop would be like if you were starting out 👍👍

[2017-08-24 05:07] johncmckim commented on #223
That tensorflow blog post is really cool @KimBurgess. But, I'd worry that it might be a bit too complex for a beginner.

Calling an API like [AWS Rekognition](https://aws.amazon.com/rekognition/) or [Google Vision](https://cloud.google.com/vision/) would be a simpler way to achieve the AI element. It would also expose students to the concept using using a third-party API via an SDK.

You could set

[2017-08-24 05:24] thiagospassos opened #226 "Talk: Service Workers: Annoying or Helpful?"
Talk title: **Service Workers: Annoying or Helpful?**
Talk length: 20 min
Talk synopsis:
A service worker is a script that your browser runs in the background, separate from a web page. This opens the door to features that don't need a web page or user interaction.
Now, with a little bit of imagination, you can see how annoying or how useful service workers can be.
Let's take a tour of some of the

[2017-08-24 05:34] ichpuchtli commented on #212
Promise vs Observables

[2017-08-24 11:58] AshKyd commented on #218
No probs, the Twitter integration is just to populate a pic & bio on the site. :)

Yeah, 9th October. Here's the placeholder event if you wanted to RSVP for a reminder: https://www.meetup.com/BrisJS/events/241140125/

[2017-08-24 12:08] AshKyd commented on #226
Sounds like a great talk, thanks for getting in touch. We might already have enough talks for October but Kev will get in touch and let you know closer to the date :)

[2017-08-26 03:35] KoryNunn commented on #212
Observables vs Eventuals

[2017-08-29 01:09] garrows commented on #220
Still looking for people.
We are looking at hiring two people for this role so if you're skilled in some of the above areas, get in contact anyway.

[2017-08-29 10:02] lillypiri commented on #204
hey Ash, can I try for October or November (later would be better) I'm ok to pass on it if someone would like to do the talk before I will be able to. What do you think? (sorry for my slow reply)

[2017-08-29 10:51] AshKyd commented on #204
No problems, I've put you down for October but if you want to go later we can do that too. Let me know your preference. :)

[2017-09-03 09:14] jwulf commented on #212
Eventuals vs Promises

[2017-09-04 05:03] JasonGT commented on #213
Hey @AshKyd - I'd planned for the 2nd of October, but I now realise that's a public holiday. Any chance we can move my talk to November? I have family visiting on the 9th of October. Thx.

[2017-09-05 00:17] AshKyd commented on #213
No probs, moved this one out to November :)

[2017-09-05 00:18] AshKyd commented on #204
Was good to chat at last night's meetup. I've moved this to November as discussed :)

[2017-09-05 00:20] AshKyd opened #227 "How I learned to stop worrying and love charting North Korean missile ranges in D3.js"
Sez Josh Bryd:

https://twitter.com/phocks/status/904859651652567044

So here's a placeholder.

[2017-09-05 00:22] AshKyd commented on #212
Moved this to October because we now have room. Can someone please organize a topic/synopsis for me :)

[2017-09-05 00:27] KoryNunn commented on #212
TypeScript: Handy Helper, or Harmful Hindrance. In this debate the panel will discuss the pros and cons of the TypeScript language.

[2017-09-05 11:21] AnnaGerber commented on #187
See also #227

[2017-09-05 22:06] AshKyd commented on #187
Ah good spotting. Let's close this one and continue over there.

[2017-09-05 22:06] #187 closed

[2017-09-11 01:21] thiagospassos commented on #226
Hey @AshKyd, November would actually work better for me. Cheers

[2017-09-11 02:30] loklaan opened #228 "The theme is CSS in JS"
Hey folks,

I've done some talks at the lovely [Brisbane React Meetup](https://github.com/Brisbane-React-JS/meetups) on CSS-in-JS.

- **State of CSS-in-JS**
  _Goes over all the ways we go about writing styles in JS, for React, React Native, and beyond_
- **Writing Themeable Components**
  _Emphasis on React Components examples, but it is applicable to other view libs/frameworks_

I was wondering

[2017-09-11 22:31] AshKyd commented on #226
Nice, thanks. I've put you on the November lineup, looking forward to hearing how not to be annoying with Service Workers :D

[Information for speakers](https://bris.js.org/#present) is available on the website. Talks will be recorded for the website & YouTube channel, if you wish to opt out of this please let us know. Internet is not available at the venue, but if you need access to a 4G hotspot

[2017-09-11 22:34] AshKyd commented on #228
We're still looking for a 40 min talk at the next BrisJS if you reckon you could pull something together for October 9? That would be awesome. :D

That might make it a good opportunity to start with the basics, as we're a more generalist meetup and I'm sure there's people who aren't super familiar with React (myself included!) But yeah, that's a totally appropriate topic and we'd love to hear from

[2017-09-12 14:22] loklaan commented on #228
Exciting! Thanks for the big spot!

Talk title:
"**The theme is CSS in JS**"
😂

Talk length:
**40 min**

Talk synopsis:

---

_In some more detail, for posterity (mostly myself hah)._

I'll pull the two prev talks together and start em' off without any expectation from the audience.

By the end of the talk & demos I'll (hopefully) accomplish:

* Making the case for css-in-js in functional ui compo

[2017-09-12 23:45] AshKyd commented on #218
So we've pretty much finalised the next meetup. I haven't sent out an announcement, will wait until closer to the date.

Just wanted to confirm you're good, and see if you wanted to tweet out some kinda promo so we can schedule some retweets from @brisjs through the month.

Also, event is here: https://www.meetup.com/BrisJS/events/241140125/

[2017-09-13 00:05] benoneal commented on #218
@AshKyd Yup 👍 still good to go with this one.

[2017-09-19 04:30] #214 closed

[2017-09-19 13:24] KimBurgess commented on #216
Just realised this was still open. We found a +1!

[2017-09-19 13:24] #216 closed

[2017-09-20 06:44] shotlom opened #229 "Choo in 2"
I'll do a 2-step, 2 minute demo of Choo.js:

[code]
Done

[2017-09-22 08:52] AshKyd commented on #229
Some background:

Also

via https://github.com/choojs/choo

[2017-09-22 08:53] AshKyd commented on #229
@shotlom I feel you could definitely turn this into a slightly longer talk about explaining what Choo does. Can I convince you to take a 20 minute slot sometime :D

[2017-09-22 11:51] shotlom commented on #229
I could try ... just working out some details of bankai with Yosh at the mo. I'll do 20 min or ish when its up and running.

[2017-09-25 00:42] Marknel opened #230 "Full Stack Developer (Heroku, Node.js, Rails) based in Toowong - 16 hours a week."
Hi BrisJS community,

I'm Mark Cracknell from NGU Group. We do a bunch of different things such as real estate, property development, software development, law, finance and more.

I've got some contract work that needs to be addressed over the next few months and I'm looking for an enthusiastic full stack dev who's keen to work on some unique projects.

**Key Tasks**
- Maintenance & development of

[2017-09-28 00:48] shotlom commented on #229
ok so, it works.

[code]

Shouldn't take 20min to do show and tell.

[2017-09-28 05:39] andrewsaul opened #231 "Health Hack wants you! 3-5 Nov 2017"
We want you to come to Health Hack this year! I promise it'll be great. https://www.slideshare.net/AndrewSaul1/come-to-health-hack-brisbane-2017

Health Hack is national event that helps medical researchers, health professionals and students find solutions to their important problems.
Work with medical researchers and healthcare professionals on real problems in important areas like drug research,

[2017-09-28 22:10] slimlime commented on #231
oo sounds interesting.

[2017-10-01 00:27] samousavih commented on #175
Hey @AshKyd ,
Not much actually, but here are the links to a few websites and stuff to read.
Hope that helps.

https://www.cloud66.com/
http://yeoman.io/
https://dzone.com/articles/getting-started-with-microservices-on-docker-and-c

Oh wait, here is the Dijkstra's quote I referred to during the talk ;)

https://effectivesoftwaredesign.com/2015/10/22/on-the-real-danger-of-quick-and-dirty-programmin

[2017-10-02 21:10] garrows commented on #231
This is an awesome event. Highly recommended.

[2017-10-09 09:06] triyuga opened #232 "Using Github as a CMS Backend"
Talk title: **Github as a CMS Backend**
Talk length: **20 min**

### Talk synopsis:
Github has a fairly decent CRUD GUI, and a great API. Together
* Avoid building your own CRUD UI!
* Enables server-less CMS! But works well if you have a server too.
* Use Markdown!
* Revisions via Git!
* Local IDE support
* Static asset uploads supported

**Tips and Tricks**
* Caching for performance
* Working Git

[2017-10-13 11:19] bakkerme opened #233 "Turning syntax coloring off"
Talk title: The joy of joyless code
Talk length: 20 min/40 min
Talk synopsis: Syntax coloring is considered unquestionable for programmers. What happens if your turn it off?
Available month(s): any
Optional: @bakkerme

[2017-10-13 11:21] bakkerme commented on #233
Sorry, that was meant to be 20min

[2017-10-21 03:56] andrewsaul commented on #231
We’ve got our first problems up for Brisbane and I’m excited about them and I hope you will be too. https://www.healthhack.com.au/brisbane-problems/

We’ve got data visualisation & analysis, image processing, web dev, databases, apps, robots ( I repeat: ROBOTS!) and more. All of it in aid of the greater good.

- Nicole Robinson from the Queensland University of Technology wants to improve the abil

[2017-10-24 06:42] #175 closed

[2017-10-24 06:43] iamkevinv commented on #199
Any resources to share @ohiaia ? - Thanks.

[2017-10-24 06:43] #199 closed

[2017-10-24 06:44] iamkevinv commented on #228
Any resources to share @loklaan ?

[2017-10-24 06:46] iamkevinv commented on #218
Any resources to share @benoneal ? Then we can close the issue :)

[2017-10-24 06:47] iamkevinv commented on #225
Any resources to share here @developersteve ?

[2017-10-24 06:47] #225 closed

[2017-10-24 06:47] iamkevinv commented on #224
Any resources to share here @KimBurgess ? Then we can close this issue :)

[2017-10-24 06:57] iamkevinv commented on #27
Another ping is that we're going to probably get regular youtube streaming in addition to formal event recordings. We just have to work out the hardware situation :)

[2017-10-24 07:18] KimBurgess commented on #224
Sure!

[Slides](http://slides.com/kimburgess/edge-js) from the talk.

The [edge-ts repo](https://github.com/acaprojects/edge-ts) I mentioned, and [an example of it in use](https://github.com/acaprojects/skype-native).

But most importantly, the (real) [edge repo](https://github.com/tjanczuk/edge) that does the... ![magic](https://i.imgur.com/YsbKHg1.gif)

[2017-10-24 07:18] #224 closed

[2017-10-25 01:25] AshKyd commented on #27
I have a tripod & phone, and I'm happy to continue doing the livestream. We may need to request the Auto & General folks set up a wifi password each month though, as it expires regularly.

If all else fails I can probably do this on 4G depending on network congestion.

I'm going to close this one because I think this satisfies the original request :)

[2017-10-25 01:25] #27 closed

[2017-10-25 01:31] loklaan commented on #228
@iamkevinv Yep!

@loklaan
https://theme-is-cssinjs.surge.sh/
https://glitch.com/edit/#!/writing-themeable-components

Thanks for chasing 🙌

[2017-10-25 01:31] #228 closed

[2017-10-25 05:14] benoneal commented on #218
@iamkevinv Sure! Code examples (and a link to the slides) can be found here: https://github.com/benoneal/brisjs-email-theming

Thanks!

[2017-10-25 10:57] AshKyd commented on #218
Cool, thanks. I've added that to the site. https://brisjs.org/#talk-200

[2017-10-25 10:57] #218 closed

[2017-10-27 01:12] Camm0 opened #234 "Full Stack Dev / Team Lead in Brisbane CBD ($120k - $140k)"
**Who we are**
We are Touch Panel Control a UK based company starting up a development arm in Brisbane. We develop across multiple platforms with apps for Home Automation, Telemedicine, and Videoconferencing.

As a dynamic small group in Brisbane passionate about home automation, corporate huddle space analytics, room / environment control in ProAv, we are looking to grow our Brisbane arm with a L

[2017-10-29 12:59] iamkevinv commented on #213
Hi @JasonGT - are you confirmed for the meetup on Nov 6th? Doing email announcements monday night if everyone can give me their yes :) 👍  thanks.

[2017-10-29 13:01] iamkevinv commented on #204
Hey @lillypiri :) Are you talking about "Modern JS testing w Jest & Ava" at this Nov 6th event? All good and confirmed to go? Going to announce via email soon 👍

[2017-10-29 13:05] iamkevinv commented on #232
Very cool mate... but we'd be hard pressed to get it all squeezed into Nov. Lets have you on the next one if possible :) Thanks!

[2017-10-29 13:08] iamkevinv commented on #229
So we could pop you in with something lightning talk style in November... or we can get you a nice cozy 20min slot in dec?
Please let me know what you'd prefer @shotlom?

[2017-10-29 13:11] iamkevinv commented on #226
Hey @thiagospassos - can you confirm you're speaking at our Nov 6 meetup? Looking forward to this talk!

[2017-10-29 21:30] JasonGT commented on #213
Yes, thank you. :)

Sent from my iPhone

On 29 Oct 2017, at 23:01, Kevin Vanderbeken <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @JasonGT<https://github.com/jasongt> - are you confirmed for the meetup on Nov 6th? Doing email announcements monday night if everyone can give me their yes :) 👍 thanks.

—
You are receiving this because you were mentioned.
Reply to this email

[2017-10-29 22:13] AshKyd commented on #204
Had a message from Lilly, and this one isn't going to be ready for this month, so I've removed the tag.

[2017-10-29 23:48] thiagospassos commented on #226
Hi @iamkevinv, yes, it's confirmed. Cheers

[2017-10-30 01:40] kenwu27 opened #235 "Software Developer – Web and Mobile - Virgin Australia"
**About The Role**

When you think Virgin, you automatically think innovation. Joining our Digital and Emerging Technology’s team will see you at the forefront of innovation, delivering innovative projects from ideation through to full development. You will be integral to the development of the digital strategy across all aspects of the Virgin Australia business.

The role of Software Developer (J

[2017-10-30 03:41] iamkevinv commented on #232
Hey @triyuga - We have an opening for Nov after all... are you interested?

[2017-10-30 03:48] iamkevinv commented on #233
Hey @bakkerme - thanks for the submission! We're trying to work out scheduling for next week... are you all prepared to go in case we can fit you in?

[2017-10-30 04:21] bakkerme commented on #233
Hi @iamkevinv. Sorry, I wasn't expecting to present until December so I don't think I can be ready for next week.

[2017-10-30 04:29] iamkevinv commented on #233
Thanks @bakkerme  - that's why i was checking! No problem... i will put you down as Dec at this stage. Last BrisJS for 2017!

[2017-10-30 21:47] triyuga commented on #232
@iamkevinv Sure can do Nov!

[2017-10-31 00:41] iamkevinv commented on #227
Hey @phocks - are you keen to do your follow up in Dec? Otherwise it may be Feb. Trying to work out what we will have in the coming months :) No pressure or anything - just gambling on content ;-)

[2017-10-31 00:43] iamkevinv commented on #186
Hey @MrCeleryman - I was wondering if i can get in early and see if you're available for Dec. It's the last BrisJS of the year before we start up again in Feb. I think folks could be keen on your talk!

[2017-10-31 00:49] phocks commented on #227
Hmmmmm @iamkevinv I will be just flying back from our honeymoon early December... Perhaps Feb would be good I could follow up with a walk through of the North Korea Missile piece we did that made it to the front page of Reddit http://www.abc.net.au/news/2017-10-16/north-korea-missile-range-map/8880894

[2017-10-31 00:51] iamkevinv commented on #227
Okay mate... thats all good, i know it gets hectic and you need some recovery time too - congrats btw!

[2017-10-31 01:01] iamkevinv commented on #232
@triyuga - You're so special, we're discussing when would be the best time to have this talk 👍
Are you also available Monday, December 4 for the Dec BrisJS? Sorry for any muckaround this could cause. If you prefer this month because you're not sure about the other, then we'll have you on this month for sure.

[2017-10-31 01:11] AnnaGerber opened #236 "6 ways to an Awesome API"
Lightning talk

[2017-10-31 01:14] phocks commented on #227
Congrats to you too!

[2017-10-31 16:56] iamkevinv commented on #232
Hey @triyuga - since you confirmed Nov so kindly and to avoid any further complications - let’s stick with Nov. looking forward to next week! Will update the meetup page in the morning from the train.

[2017-11-01 06:40] cartant opened #237 "RxJS Debugging and Visualisation"
Talk title: RxJS Debugging and Visualisation
Talk length: 20 min
Talk synopsis:

Some months ago, frustrated with the poor tooling available for debugging RxJS applications, I wrote a tool to do the job: [`rxjs-spy`](https://github.com/cartant/rxjs-spy).

It's a tool that I've found useful for application development with [NgRx](https://github.com/ngrx/platform) and [the engineers at Slack have ad

[2017-11-02 01:47] #220 closed

[2017-11-02 03:05] ichpuchtli commented on #237
YES PLEASE. Awesome work btw rxjs-spy is getting a lot of attention. Should hit up slack for some sponsoring.

[2017-11-02 04:25] ryan-senn opened #238 "Blue Dog Training | Milton, Brisbane, Australia | Front End Developer | Full Time"
# Front End Developer – Blue Dog Training

- Established Business
- Great team environment
- Passionate about modern technologies

We are looking for a creative Frontend Developer who is keen to use modern
technologies.

### The ideal Candidate will:
- Be a creative Person, who enjoys designing UIs with emphasis on UX
- Have experience with responsive designs (mobile first)
- Experience with Boots

[2017-11-06 06:35] iamkevinv commented on #237
Sounds good :)
Closer to the date i'll reconfirm you're still available for Dec, but this should be added to the Dec lineup. Thanks for submitting!

[2017-11-06 06:48] ichpuchtli commented on #237
Has BrisJS held a generic "What is RxJS/FRP" yet? I must have missed it.

[2017-11-06 07:03] iamkevinv commented on #237
We have had https://github.com/BrisJS/meetups/issues/205 which wasn't on RxJS but there was a general concept background provided there.

[2017-11-08 05:28] ichpuchtli commented on #237
True, I would be happy to prepare a introduction to RxJS and also talk about ReactiveX/IxJS (Pull-Push Iterator) and how they relate.

[2017-11-15 00:25] #234 closed

[2017-11-16 06:16] shotlom commented on #229
I'm sorry @iamkevinv, as things turned out there were a few teething problems in bankai with http2, which have been resolved now. But I'm about to move from the fine city of BrisJS to new shores of SydJS or MelJS, or even BrexitJS perhaps, who knows. The result of this fork is that I won't be in QLDjs in Dec.

[2017-11-23 04:10] cam861 opened #239 "Contract Node.js/Angular Work"
I have a couple of clients who I do some contract development work for - one in aviation maintenance and an algo-trading platform.

There's a bit much here for me to work through alone, so I'm looking for a Full Stack JavaScript developer to help out. I would say there's scope for someone to do somewhere between 10 and 30 hours per week for the next few months.

Please send me an email or reach ou

[2017-11-28 19:58] AshKyd opened #240 "Why Ember?"
Talk title: Why Ember?
Talk length: 20 min min

Talk synopsis:
“How does Emberjs framework stack up to multitude of other JavaScript frameworks out there and why would you choose it over another?”

Available month(s): December 2017
Twitter: https://twitter.com/_kartikgupta_

[2017-11-29 12:49] iamkevinv commented on #237
Hi @cartant - This still good to go for Dec 4 BrisJS? Looking like a great way to round out the year.

[2017-11-29 12:50] iamkevinv commented on #237
Yes @ichpuchtli - you could certainly offer a talk! Just pop it into a new issue and we'll get it into scheduling :)

[2017-11-29 12:52] cartant commented on #237
@iamkevinv Yep. Good to go and looking forward to it.

[2017-11-29 13:01] iamkevinv commented on #236
Due to https://github.com/BrisJS/meetups/issues/240 you may be off the hook ;-)
Moving to Feb.

[2017-11-29 13:02] iamkevinv commented on #233
Hi @bakkerme - All confirmed to speak? Looking forward to the talks on Dec 4 :)

[2017-11-29 21:02] bakkerme commented on #233
Sure am @iamkevinv, should be a good one!

[2017-11-30 14:12] #231 closed

[2017-11-30 14:20] iamkevinv opened #241 "Lightning talk: Adventure & Discovery at Fronteers Conf"
Talk title: Adventure & Discovery at Fronteers Conference, Amsterdam
Talk length: 10 min lightning talk

Talk synopsis:
The venerable @AshKyd was at https://fronteers.nl/congres/2017/speakers#ash-kyd and had a great time, immersed in tech and the Amsterdam nexus of the web interested minds. He'll be along to tell us about the cool things he learned/saw while there and tell you what's hip and new i

[2017-12-09 12:58] #208 closed

[2017-12-09 12:59] #207 closed

[2017-12-09 13:00] #217 closed

[2017-12-09 13:00] AshKyd commented on #230
Closing this one because it's been a while. Feel free to reopen it if you need.

[2017-12-09 13:00] #230 closed

[2017-12-09 13:00] AshKyd commented on #235
Closing this one because it's been a while. Feel free to reopen it if you need.

[2017-12-09 13:00] #235 closed

[2017-12-09 13:00] #170 closed

[2017-12-09 13:04] AshKyd commented on #237
@cartant Would you be able to pop your slides and any notes you think would be helpful on the issue? cheers!

[2017-12-09 13:06] AshKyd commented on #233
@bakkerme Great talk, really interesting premise. Do you have any slides or notes to share on the issue?

[2017-12-09 13:19] cartant commented on #237
@ashkyd Sure. The slides are [here](http://cdn.s3.cartant.com/brisjs-2017-12-04/index.html). I will post some notes and some references, tomorrow.

[2017-12-09 13:46] AshKyd commented on #237
You're awesome, thanks

[2017-12-10 01:42] cartant commented on #237
The slides for the presentation are available [here](http://cdn.s3.cartant.com/brisjs-2017-12-04/index.html).

However, they are mostly pictures, so here are some notes to accompany them:

### Slides 1 to 3

* I wrote [`rxjs-spy`](https://github.com/cartant/rxjs-spy) to help applications that used RxJS.
* [RxJS](https://github.com/ReactiveX/rxjs) is the JavaScript implementation of Microsoft's [Re

[2017-12-12 04:33] bakkerme commented on #233
@AshKyd Sorry for the delay on resources, glad you liked the talk. You can see my slides [here](https://docs.google.com/presentation/d/1aHTSpvxHoD2V-It9Gm-f_X8Fc2TeKMj6UKuCTU3s81o/edit?usp=sharing). I've also added some notes in the speakers notes section to fill in some of the blanks of the slides and add resources and other notes I thought would be good to know.

[2017-12-12 08:03] AshKyd commented on #241
Polished the talk into a blog post you can read here:
https://ash.ms/2017-12-09/diversity-brisbane-tech/

[2017-12-12 08:03] #241 closed

[2017-12-12 08:05] AshKyd commented on #237
Awesome notes, thanks for that.

[2017-12-12 08:05] #237 closed

[2017-12-13 07:13] jamesatgbst opened #242 "Contract EmberJS Developer ASAP Start"
GBST have a position for an experienced JS dev to join our Brisbane (Ann St CBD) team building an investment management portal for a large client in the UK. You'll be working with the https://www.emudesign.com.au/ team, the internal digital department of https://www.gbst.com/ a publicly listed fintech.

We understand that EmberJS skills aren't common, so Ember isn't a hard prerequisite if you're o

[2018-01-05 02:12] iamkevinv opened #243 "Node.js Dev / API Software Engineer (Senior/Mid) - at PCCW Global's Console Connect Team"
Hello Brisbane,

Our successful Brisbane team is looking to expand and tackle grand new things - and we'd like you to be part of that growing success.

As a JavaScript heavy team, we'd like someone with strong node.js experience to join us and support our growing API and portal for our Console Connect platform (https://www.consoleconnect.com/), as well as new projects.

This is primarily an API de

[2018-01-05 09:48] AshKyd commented on #227
Confirmed with Josh, he's going to go for a 20 minute slot 👍

[2018-01-06 06:46] AnnaGerber commented on #236
Still thinking of including this in the Feb meetup? I can stretch it out to 20 minutes if wanted

[2018-01-10 00:07] kenwu27 opened #244 "Virgin Australia Jobs: Software Developer – Web and Mobile Solutions"
Happy New Year!! Great people/culture, work environment and perks at Virgin Australia. React developers? Apply now.

**Interested?
Apply at http://careers.virginaustralia.com/cw/en/job/498849/software-developer-web-and-mobile-solutions*
Linkedin: https://www.linkedin.com/jobs/view/531897249/
SEEK: https://www.seek.com.au/job/35209371?type=standard&userqueryid=dc5fec6de41437454546acbfc2fd998f-23152

[2018-01-12 00:51] AshKyd commented on #227
New title: `How I learned to stop worrying and love charting North Korean missile ranges in D3.js`

Synopsis:

[2018-01-21 08:53] AshKyd opened #245 "Penny's “what I've learned in my world travels”"
Ever wanted to pack it all in and live overseas? Penny's just returned from a couple of years in Portugal, and will share with us what she's learned and what it's like being a dev in a foreign country.

Available month(s): Not sure on timing but I think this one is aiming for March.
Twitter: https://mobile.twitter.com/pennylyle

[2018-01-21 08:57] iamkevinv commented on #245
Great 👍

[2018-02-01 12:03] AshKyd opened #246 "Can someone talk about Web Components?"
https://www.webcomponents.org

Good topic to do a little research and put together a presentation. What are they? How do they work? Why would we use these over other frameworks?

[2018-02-01 12:07] AshKyd opened #247 "Quiz show: 👍 or 👎"
It would be good to have a roundup of the latest language features and how/why you might use them.

[2018-02-04 07:01] AshKyd commented on #246
Armagan originally asked for this talk, but will _also_ be in a position to give the talk in a couple of months. So let's say this one could be a maybe-tentative for May or so.

[2018-02-05 03:34] spjenk opened #248 "Software Engineer (React / Node.js) - AssetChain"
We are looking for javascript developers who are passionate about React and Node.js to join our team. You will work on a greenfield project with a friendly team that love what they do!  If working with React and Node.js in a cloud only architecture interests you then send me a message. We are expanding and have multiple positions open

Seek:
https://www.seek.com.au/job/35430930?_ga=2.133453003.475

[2018-02-07 08:41] AnnaGerber commented on #236
Slides are here: http://slides.com/annagerber/6-ways-to-an-awesome-api

[2018-02-11 10:54] incessantmeraki opened #249 "Hello Brisbane JS !!"
Hello everyone. My name is Ashwin.  I am from Kathmandu and have recently arrived in Brisbane. It's great that there is a vibrant JavaScript community here in Brisbane. I am super excited about attending the March's session and looking forward to meet cool people and learn new things.

[2018-02-16 01:33] broccolinisoup commented on #246
Hey @AshKyd , yes that's 100% true :) I'm aiming April meetup now. Will update here about how I'm progressing on. Cheers!

[2018-02-16 03:38] AshKyd commented on #249
Hey Ashwin.

The next meetup is here, we haven't finalised it but you can RSVP in advance: https://www.meetup.com/BrisJS/events/qwkzxnyxfbhb/

Hope to see you around!

[2018-02-16 03:38] #249 closed

[2018-02-20 03:31] loklaan opened #250 "Live code: Flappy Bird under 5 minutes"
Hey folks!

Lightning talk proposal.

Flappy Bird will save you from boredom for about **5 minutes** at a time.
_Instead of playing it_, **let's build it**!
With a text editor & browser!
In vanilla JS!

---

[code]

---

PS. Might need to revise the 5minute thing, I haven't speed-run this yet... 💁

Inspired by a [talk at CampJS](https://www.youtube.com/watch?v=krj_TQOrS5g) by Ed Robinson a couple

[2018-02-22 02:58] spjenk commented on #248
Positions still available but have taken job postings down from seek and LinkedIn.
Add me on LinkedIn or email hello@assetchain.com.au if interested.

[2018-02-22 02:58] #248 closed

[2018-02-25 02:47] AnnaGerber commented on #247
How about this (inspired by a talk from CrikeyCon)?

Latest ES features - hot or not?

Format: Game show
Participants: Host plus 3 or 4 volunteers to be contestants.

For each ES features:
1. The host presents a slide or two, briefly describes what it is, how to use it.
2. Contestants have signs with hot on one side and not on the other. They hold up signs to indicate whether they would use the la

[2018-02-27 22:10] DT74 opened #251 "Looking for NodeJS developers"
Hello everyone,

We have a nodeJS roles to fill, and are looking for good developers to fill them with in Brisbane.  Skills desired are below.  In general our client is looking for a broad range of ability in multiple development/programing environments.  At a minimum, the Web Development staff must have MS SQL, MS .net 4x, ASPX, MVC, Javascript, JQuery, CSS, HTML, Bootstrap and nodejs is key.

If

[2018-02-28 04:06] AshKyd opened #252 "CSP: Can See Purpose"
Here's some docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

Some questions you could cover:

* what is CSP and what problems does it solve?
* how could you use it to make your site more secure
* are there any gotchas to be aware of?
* etc, etc.

Might be a good one for someone to research :)

[2018-03-02 05:08] srsgores commented on #242
@jamesatgbst, has the role been filled?  If not, please feel free to reach out.

[2018-03-02 05:22] srsgores opened #253 "Javascript: You Might Not Need It"
I propose a rather controversial talk about the excessive "need" for javascript tools in today's modern dev environments.  [Similar to the aptly-named website](http://youmightnotneedjs.com/), or [this post on slack](https://slack-files.com/T03JT4FC2-F151AAF7A-13fe6f98da), I propose a look at the following subtopics:

* Why we used frameworks to begin with: how the rise of jQuery introduced the "ne

[2018-03-05 04:19] iamkevinv commented on #251
Hi @DT74, Please detail the companies and their positions here, assuming that these are clients you're the exclusive hiring point for. Our Job posts are intended for our community to connect with companies, so we cannot tag such posts as being parts of the 'jobs / employment' section of our github without having the actual companies listed with their roles here.
Thanks for your understanding :-)

[2018-03-05 04:31] iamkevinv opened #254 "🚧 Building Static Sites with React"
Tim Holt has volunteered a 20 min talk on Static sites with dynamic frontend's.

[2018-03-05 04:40] iamkevinv commented on #227
hey @phocks - if you have any resources you want to link to, please do before we close this :)

[2018-03-05 04:43] phocks commented on #227
Yep, here's the source code for the ABC News Interactive https://github.com/abcnews/north-korea-missile-map/

And here's the standalone code on Glitch from the BrisJS talk https://glitch.com/edit/#!/nk

[2018-03-05 04:44] #227 closed

[2018-03-05 04:45] #236 closed

[2018-03-05 12:12] loklaan commented on #250
Resources:

Source on Github
https://github.com/loklaan/talks/tree/master/2018-ascii-bird

Live Demo ([and Source](https://glitch.com/edit/#!/ascii-bird)) on Glitch
https://ascii-bird.glitch.me/

[2018-03-06 00:49] iamkevinv commented on #250
Legendary

[2018-03-06 00:50] iamkevinv commented on #254
@AshKyd can you get Tim Holt a github and let him know to post his resource links here? heheh

[2018-03-06 00:52] iamkevinv commented on #226
Hey @thiagospassos - if you have links and resources to share here from your talk... please do! I'll update the label and close the issue then.

[2018-03-06 00:57] thiagospassos commented on #226
Hi @iamkevinv,

Here's the slide deck https://1drv.ms/v/s!Auyj8a8D7jzShtQZP2FweF7dYqdqfA
Here's the source code for the demos: https://github.com/thiagospassos/service-workers

Thanks

[2018-03-06 00:57] #226 closed

[2018-03-06 03:13] iamkevinv commented on #226
Thanks heaps!

[2018-03-07 04:12] jamesatgbst commented on #242
@srsgores we are still looking. I understand you're in Calgary, do you have plans to come to Brisbane? If so drop me a CV at my email above. Cheers

[2018-03-07 04:58] KoryNunn opened #255 "Jobs: Node, Angular(4), etc."
Patient Zero is looking for Node/Angular JS/TS devs, contact me for details.

[2018-03-07 08:07] srsgores commented on #242
Thanks, @jamesatgbst.  Check my e-mail for my resume.  Cheers

[2018-03-07 20:28] mnbbrown opened #256 "Frontend engineering job at Maxwell MRI"
Maxwell MRI is local funded startup working to make world class healthcare available to everyone, everywhere - and we're looking for a frontend engineer to help us make it happen. We are applying cutting edge AI to thousands of medical images (x-rays, MRI, CT, etc.), test results and health records to detect diseases earlier, predict outcomes and guide treatment.

Role: Looking for a mid level/sen

[2018-03-09 02:40] danmoore83 opened #257 "Front End Engineer @ News Corp Australia"
We are looking for a Front End Engineer to join the Brisbane Product Delivery team.

You'll be someone who loves Javascript, enjoys experimenting with new technologies and solving problems and be able to work collaboratively with a wider engineering team as well as work independently and take ownership of smaller projects.

Work on a variety of interesting projects including masthead websites (Cou

[2018-03-20 10:58] AshKyd opened #258 "Cross domain communication: I created a new design pattern!"
I'm excited about this one, I know literally nothing about it.

https://mobile.twitter.com/broccolinisoup

[2018-03-20 11:11] AshKyd commented on #252
To the person who came and spoke to me about this, I'm super sorry but I don't remember who you were. Can you please leave a comment here with your availability? :D

[2018-03-20 11:12] AshKyd opened #259 "Can someone talk about JS & security?"
Frontend, backend, general security? What are some common pitfalls and some not-so-common gotchas to avoid when developing in JS?

[2018-03-20 11:15] AshKyd opened #260 "Performance in practice: how to make a super fast site"
There's a bunch of performance info out there. Can someone distill this down to a top 10 performance tips for a speedy site?

[2018-04-02 01:07] jwulf commented on #247
Love it!

[2018-04-02 02:54] sarah-j-smith opened #261 "Intro to TensorFlow JS"
Talk title: *What is TensorFlow JS?*
Talk length: 20 min
Talk synopsis: Google has just released [TensorFlow JS](https://github.com/tensorflow/tfjs) and yes, its an AI thing for Javascript.  But what does it mean, what's it good for, and how can I get started doing something with it?
Available month(s): April
Optional: [@sarah_j_smith](http://twitter.com/sarah_j_smith)

[2018-04-02 03:42] iamkevinv commented on #253
Looking forward to having you in Brisbane @srsgores :-)

[2018-04-02 03:42] #250 closed

[2018-04-02 03:44] iamkevinv commented on #247
Let’s start wrangling people for this… I’m sure a lot of people follow newly released specs

[2018-04-02 04:04] srsgores commented on #253
Can we bump the time up to 30-40 mins?  I want time to take questions

[2018-04-02 05:50] iamkevinv commented on #253
We definitely have time for questions after every 20 min talk - so consider it included :-)

[2018-04-02 05:52] srsgores commented on #253
Ok, but I **do** want 30 mins for the presentation, so I have room for extra material.  Please let me know if you can accommodate this request.   The presentation may not take quite that, but having the extra flexibility will help to give me peace of mind while I prepare the material.

[2018-04-02 09:43] AshKyd commented on #261
Too cool, I'm very excited to hear this one. Thanks @sarah-j-smith!

[2018-04-03 01:01] iamkevinv commented on #253
Yep, that shouldn't be an issue. We can give you the 30. Let me know how you go with your material and if you need any info :)

if you're curious... We stopped regularly offering the 40 min headline spot as people's attention tends to drift after 20, and it allows more diversity in topics through the night which the community was craving. So now we do 20's, and 10-15's. Short snappy topics have al

[2018-04-03 01:03] srsgores commented on #253
I totally understand, and this is more of a peace of mind thing.  I want to allow for questions as I go, or to have the ability to do so.  I will update once I settle in to Brisbane and have a better idea of the duration of my material.

[2018-04-03 10:26] AshKyd opened #262 "Performance tips for writing a text annotation editor"
I'm just confirming the details before I put this on the Meetup page. Should be a 10-15 min talk.

https://mobile.twitter.com/IianNeill

[2018-04-04 10:08] AshKyd opened #263 "Fixed Mindset vs Growth Mindset"
Jordan has offered his talk “Fixed Mindset vs Growth Mindset” at the May meetup.

https://mobile.twitter.com/JawdinMorris

[2018-04-04 10:15] jawdinmorris commented on #263
Duration: 10 Minutes
A short presentation on the damaging effects of a fixed mindset and how you can foster a growth mindset in development and other areas of life.

[2018-04-04 10:18] AshKyd commented on #263
Love it, thanks.

[2018-04-08 15:58] iamkevinv commented on #113
If anyone finds this in the future and wonders what happened, please find the results have been in effect for some time, and currently live here: https://brisjs.org/#conduct

[2018-04-08 15:59] #113 closed

[2018-04-08 16:07] iamkevinv opened #264 "Upcoming YOW events"
- We have another [YOW! Night](https://www.eventbrite.com.au/e/yow-night-2018-brisbane-linda-mciver-apr-17-tickets-44777267011) happening on Tuesday, April 17th with Linda McIver from the Australian Data Science Education Institute. Linda's going to talk about how we can get the next generation engaged with data science and aware of how much data already rules our lives. Should be very interesting